[2018-09-20 15:27] hetmann opened #2 "Alternative for Typography "p" property"
For easy understanding what `p` represent, we can name it `paragraph`

https://github.com/galio-org/galio/blob/ff9d4727fef2fc590da33b1875bfbdf0eee83492/src/Typography.js#L17

[2018-09-22 13:11] hetmann commented on #2
I would respect the naming convention for Typography using the following guidelines:
- https://material.io/design/typography/the-type-system.html#type-scale
- https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/typography/

[2018-10-18 16:27] misircoder commented on #2
I think p is better & shorter than paragraph 👍

[2018-10-18 19:52] palingheorghe opened #31 "Hacktoberfest and galio"
## Introduction
Hi everybody! Hacktoberfest is here and and we have an interesting issue which will help not only Galio, but also you to grow up or just practice your skills.

We think Galio will be the the next best thing for building UIs with React Native but we also need your help to reach our goal. We want this to be a community-driven library with the purpose of delivering clean and fast code

[2018-10-18 21:25] antelbra opened #32 "How to integrate as a UI component library"
Hi! I'd like to know how can I import Galio as would do with other component libraries (NativeBase/ui-kitten), if it is possible.

Thank you! It looks amazing 🤩

[2018-10-19 04:14] hetmann commented on #32
@antelbra you can use galio-framework npm package from: https://www.npmjs.com/package/galio-framework

Just install it using npm or yarn
`npm install galio-framework` or `yarn install galio-framework`

[2018-10-19 07:36] hetmann commented on #32
@antelbra We've updated the README doc with SDK instructions.

[2018-10-19 07:36] #32 closed

[2018-10-19 07:44] antelbra commented on #32
Oh thanks! I’ve been searching on the npm list with “galio” but it didn’t show me anything.

[2018-10-19 08:02] hetmann commented on #32
Hmmm, I just searched `galio` and found it: https://www.npmjs.com/search?q=galio
Anyways, let us know your opinion and any features missing 👍

[2018-10-19 08:10] hetmann commented on #2
The **Typography** component was renamed to **Text** and the paragraph is accessed with **p** prop

[2018-10-19 08:10] #2 closed

[2018-10-19 14:50] nvh0412 commented on #31
Hi guys,

Thanks for making this awesome project to open source, great work!. Would it be possible for you guys to allow me to contribute on `Order Confirmed` screen 😍

[2018-10-19 14:57] palingheorghe commented on #31
Hi @nvh0412 ,

Yeah, man! Go for it! Don't hesitate to ask us any question you have. 🤙🏽

[2018-10-19 15:28] samcyn commented on #31
Awesome!. I got so much love for this so far...let me try a few things first.

[2018-10-21 05:08] nvh0412 commented on #31
Let me help on `Onboarding Screen`

[2018-10-21 13:50] palingheorghe commented on #31
That's great, @nvh0412 ! We've assigned you that screen. Have fun! 🤙🏽

[2018-10-22 17:54] danibonilha commented on #31
Hi, I can help with the registration screen =)

[2018-10-22 18:30] kostimarko commented on #31
I can set up the profile secreen

[2018-10-23 08:34] paullaros opened #36 "Theme variables instead of calculations in components"
https://github.com/galio-org/galio/blob/0b9d8583efe05a1b68e8cbcc6df01b13afffa7b7/src/Block.js#L137-L138

Creating a border radius variable would be much cleaner as you can re-use it in other components instead of doing the calculation inside the component.

[2018-10-23 08:37] paullaros opened #37 "Theme & Colors"
https://github.com/galio-org/galio/blob/0b9d8583efe05a1b68e8cbcc6df01b13afffa7b7/src/theme.js#L1-L22

Separating theme from colors would be much cleaner. Or create multiple sections like:

Theme: primary, secondary, success, warning, danger
Colors: white, black, grey, blue, red, etc
Social: dribbble, github, etc

[2018-10-23 09:36] vativa opened #39 "Custom Theme Constants"
It would be nice to provide a way to overwrite/customize the theme constants from a project location like .galio/theme.js for example, and of course if not found, then load the default theme.js file that came with the release.

`const COLORS = {`
&nbsp;&nbsp;&nbsp;&nbsp;`WHITE: '#FFFFFF',`
&nbsp;&nbsp;&nbsp;&nbsp;`BLACK: '#000000',`
&nbsp;&nbsp;&nbsp;&nbsp;`GREY: 'custom',`
&nbsp;&nbsp;&nbsp;&nbsp

[2018-10-23 09:39] antelbra opened #40 "Spanish Translation"
Hi! If you like I could do the Spanish translation of the Docs and the README. If you agree, tell me how would you like to make the pull request ✌️

[2018-10-23 19:26] atilkan opened #41 "Docs. where are they?"
title

[2018-10-24 01:33] danibonilha commented on #31
Hey, in the showcase App there is already a Registration Screen, it's a bit different, so I'm not really sure of what needs to be done, should I override this screen to be like the screenshot or should I create a new register screen and keep the old one too?

[2018-10-24 02:35] dniccum commented on #41
Glad someone is having the same issue. I was not able to find any of the documentation anywhere.

[2018-10-24 06:33] hetmann commented on #31
@danibonilha you can create a new register screen and keep the original one. We can have multiple registration/login/etc screens for reference and inspiration.

[2018-10-24 06:36] hetmann commented on #41
@atilkan @dniccum here we have the first version of docs: https://galio.io/docs

[2018-10-24 06:52] hetmann commented on #39
@vativa We're working on a feature to create a themeable option included on the kit. Stay tuned for updates.
Until then you can use the props for each component to customise it, e.g.: color, bgColor, etc.

[2018-10-24 06:54] hetmann commented on #36
@paullaros Good idea, we'll restructuring the variables when we're adding the themeable feature to the kit.

[2018-10-24 08:08] #41 closed

[2018-10-24 15:36] palingheorghe commented on #40
Hi @antelbra,

Of course we would love to have this translated ❤️. You can find our docs [here](https://github.com/galio-org/docs).

I'm not sure how Docsify works with multi-language support, I will look into this. Being the fact that our documentation isn't really that big right now, we could always move to a different static site/docs generator if we would have to.

🤙🏽

[2018-10-24 18:09] palingheorghe commented on #40
### New info:

So... I've updated the [docs repo](https://github.com/galio-org/docs) with a `_navbar.md` file for all translations. You just need to fork the [repo](https://github.com/galio-org/docs), create a new branch and edit the [README.md](https://github.com/galio-org/docs/blob/master/es/README.md) file inside the [es/ folder](https://github.com/galio-org/docs/tree/master/es).

Thanks for yo

[2018-10-24 20:46] antelbra commented on #40
Great! ✌️

[2018-10-25 20:37] #40 closed

[2018-11-01 10:12] palingheorghe commented on #31
Hi @nvh0412 @kostimarko @samcyn,
Thank your for your interest in Galio ❤️! Do you guys still want to have those screens assigned or should we let them open for other people to create and help with this issue?

Thanks! 🤙🏽

[2018-11-01 10:23] antelbra opened #46 "Can't create project as in documentation"
**Describe the bug**
When I try to install the project as in the documentation, with the steps provided. The main error that I get is "missing script: ios". I only tried with ios, but I would get the same error because there isn't android script neither.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repository
2. Get into the project folder
3. run "npm install" or "yarn install".

[2018-11-01 11:46] antelbra opened #47 "Custom Component Names"
**Is your feature request related to a problem? Please describe.**
When I have to use components from different libraries I have to handle the problem with common name between them.

**Describe the solution you'd like**
I think it would be great to have the components from Galio with an identifier that make them easily recognizable from the other. For example, to use the prefix "Ga":
[code]

**Des

[2018-11-01 13:49] kostimarko commented on #31
@palingheorghe Yes, I still want the one I've signed up for. I've created a pull request.

[2018-11-01 22:48] antelbra commented on #47
@hutmann I think that it could be great to give galio components more personality and identity when using with other UI libraries. Also, is less verbose that way, I think.

What are your thoughts?

[2018-11-02 03:31] hetmann commented on #47
@antelbra You're right, I like the "personality & identity" idea :)
In the next update we'll add this one.

[2018-11-02 09:03] antelbra commented on #47
@hetmann I can help with that if you want ✌️

[2018-11-02 16:16] palingheorghe commented on #46
Hi @antelbra,

Sorry for the late response. You're on the `master` branch. In order to be able to check out the RN app, you'll need to open up your terminal and inside Galio's folder write `git checkout examples`. Now make sure you're up to date with our repo and then run `npm install` or `yarn install`. It should work.

Thanks! 🤙🏽

[2018-11-02 18:49] antelbra commented on #46
@palingheorghe Works perfectly! Thank you ✌️

[2018-11-02 20:08] palingheorghe commented on #46
@antelbra no problem!

[2018-11-02 20:08] #46 closed

[2018-11-04 12:45] antelbra opened #50 "The screen "Order Confirmed" don't show left panel."
**Describe the bug**
In the "Order Confirmed" screen there is a minor error when trying to open the left panel due to props handling, showing "variable props not found".

**To Reproduce**
Steps to reproduce the behavior:
1. Run the project in the examples branch
2. Open the screen "Order Confirmed"
3. Try to open the left panel.
4. See error

**Screenshots**
![image](https://user-images.githubuser

[2018-11-05 08:39] palingheorghe commented on #50
Hi @antelbra ,

Thanks for finding out about this bug! I've merged your PR to the `examples` branch!

🤙🏽

[2018-11-05 08:39] #50 closed

[2018-11-05 13:13] antelbra opened #53 "🎊Now Galio is on "Awesome React Native" 🎉"
Hi! A few weeks ago, when Galio was launched, I've made a pull request to "Awesome React Native" (22000 stars and 2600 forks) to add Galio. I think is a good move to make Galio more visible and attract more passionate developers to improve Galio.

🎉I've checked the list and Galio is now on the list 🎊

Hope you like it ✌️

[2018-11-06 15:07] antelbra commented on #53
I think it's time to close this issue as it is already complete ✌️

[2018-11-06 15:07] #53 closed

[2018-11-07 13:03] hetmann commented on #37
@paullaros @palingheorghe done in galio-framework@1.1.0

[2018-11-07 13:03] #37 closed

[2018-11-07 13:03] hetmann commented on #39
@vativa @paullaros @palingheorghe done in galio-framework@1.1.0

[2018-11-07 13:03] #39 closed

[2018-11-07 13:03] hetmann commented on #36
@paullaros @palingheorghe done in galio-framework@1.1.0

[2018-11-07 13:03] #36 closed

[2018-11-07 13:27] Taimoormk opened #55 "Working without Expo SDK"
Ideally, I prefer to work without Expo SDK. I happen to like your components library and wanted to give them a shot, but found out Expo SDK is required to make this work, is that so or have I overlooked a step to use this library without Expo? It would be great to see this work as standalone if possible.

[2018-11-07 14:52] hetmann commented on #55
@Taimoormk all the components have non-expo dependencies, only the **Icon** component has the expo dependency.
We are working on to make the Galio expo free.

[2018-11-07 15:56] Taimoormk commented on #55
@hetmann Thank you for the update.

Yeah it would be great to be Expo free but it sure has added to my knowledge that all components are currently Expo free except the Icon one. Great work.

[2018-11-07 15:56] #55 closed

[2018-11-09 11:15] hetmann commented on #39
@vativa take a look at this doc: https://github.com/galio-org/galio/blob/theme/src/theme/README.md

[2018-11-12 13:24] palingheorghe opened #57 "Components: Custom from inputs (checkbox, radio)"
**Read this:** [Working on a PR](https://github.com/galio-org/galio/wiki/Working-on-a-PR) | [CONTRIBUTING](https://github.com/galio-org/galio/blob/master/CONTRIBUTING.md) | [Galio's docs](https://galio.io/docs/)

As I've written in our [wiki](https://github.com/galio-org/galio/wiki). We're working towards v0.5 and for this thing to happen we need the following components.

Do you want to **help**?

[2018-11-12 13:28] palingheorghe opened #58 "Components: Segment"
**Read this:** [Working on a PR](https://github.com/galio-org/galio/wiki/Working-on-a-PR) | [CONTRIBUTING](https://github.com/galio-org/galio/blob/master/CONTRIBUTING.md) | [Galio's docs](https://galio.io/docs/)

As I've written in our [wiki](https://github.com/galio-org/galio/wiki). We're working towards v0.5 and for this thing to happen we need the following components.

Do you want to **help**?

[2018-11-12 13:30] palingheorghe opened #59 "Components: Slider"
**Read this:** [Working on a PR](https://github.com/galio-org/galio/wiki/Working-on-a-PR) | [CONTRIBUTING](https://github.com/galio-org/galio/blob/master/CONTRIBUTING.md) | [Galio's docs](https://galio.io/docs/)

As I've written in our [wiki](https://github.com/galio-org/galio/wiki). We're working towards v0.5 and for this thing to happen we need the following component.

Do you want to **help**?

[2018-11-13 12:16] palingheorghe opened #60 "Components: Switch"
**Read this:** [Working on a PR](https://github.com/galio-org/galio/wiki/Working-on-a-PR) | [CONTRIBUTING](https://github.com/galio-org/galio/blob/master/CONTRIBUTING.md) | [Galio's docs](https://galio.io/docs/)

As I've written in our [wiki](https://github.com/galio-org/galio/wiki). We're working towards v0.5 and for this thing to happen we need the following component.

Do you want to **help**?

[2018-11-13 12:56] palingheorghe opened #61 "Screens: Segment Screen/Settings Screen"
**Read this:** [Working on a PR](https://github.com/galio-org/galio/wiki/Working-on-a-PR) | [CONTRIBUTING](https://github.com/galio-org/galio/blob/master/CONTRIBUTING.md) | [Galio's docs](https://galio.io/docs/)

As I've written in our [wiki](https://github.com/galio-org/galio/wiki). We're working towards v0.5 and for this thing to happen we need the following screens.

Do you want to **help**? Ju

[2018-11-13 15:18] antelbra commented on #60
Hi @palingheorghe ! I'd like to work on the Switch creation ✌️

[2018-11-13 21:42] palingheorghe commented on #60
Hi @antelbra! Cool, I've assigned you this one!

🤙🏽

[2018-11-15 16:57] samcyn commented on #57
Hi @palingheorghe I'll like to work on the radio component.

[2018-11-16 08:31] palingheorghe commented on #57
Cool! I've assigned you this task! @samcyn
Galio's community is awesome! If you have any questions don't forget to contact us here or on [Gitter](https://gitter.im/galio-community) ❤️!

🤙🏽

[2018-11-16 14:45] antelbra opened #63 "Change Syntax: Import and Export Components"
**Is your feature request related to a problem? Please describe.**
Change the syntax to import and export Components.

**Describe the solution you'd like**
[code]
Instead of this:
[code]

**Describe alternatives you've considered**
Leave it as it's now

[2018-11-28 16:46] Morriz opened #65 "instructions don't work for expo client on ios"
There is no such thing as "typing into the Expo Client". Please provide proper clickable link to allow your demo app to open in Expo Client for iOS.

[2018-11-28 17:31] Morriz commented on #65
Nah, it was described by the expo team on their blog that on iOS only your own projects are loading, 3rd party apps are not allowed:

![img_1350](https://user-images.githubusercontent.com/941865/49170125-c051b380-f33b-11e8-8bb6-b747abecfbef.png)

[2018-11-28 17:31] Morriz commented on #65
The info should reflect that...

[2018-11-28 17:34] Morriz commented on #65
https://blog.expo.io/upcoming-limitations-to-ios-expo-client-8076d01aee1a

[2018-11-28 17:52] hetmann commented on #65
@Morriz sorry for that, @palingheorghe can you update the docs as Morriz mentioned it?

[2018-11-29 09:07] palingheorghe commented on #65
Hi @Morriz !
Could you please tell me where is it written 'typing into the Expo Client'? You can open our app with Expo either on your physical device or your simulator by forking the repo, entering the 'examples' branch and writing `expo start`. This will open up an Expo server which will allow you to check out our app on iOS Expo.

You're right, we haven't been very clear regarding instructions

[2019-01-15 02:11] fbraz opened #67 "Fatal errors while testing galio"
**Describe the bug**
Hi. I'm having a problem while trying to use Galio. With a fresh expo app I get the following error: _undefined is not an object (evaluating 'Constants.manifest')_ if I'm connected via tunnel or local.

If I'm connected via LAN i get the following error: _Uncaught Error: 23.0.0 is not a valid SDK version._

**To Reproduce**
1- expo init
2- yarn add galio-framework
2-
[code]

*

[2019-01-15 21:39] fbraz commented on #67
Sorry, it doesn't give details. The View error log is as described and it doesn't show on my terminal. I had to install GSConnect to paste the clipboard from my phone and is the same as above:
[code]
On the other hand, my connection error via LAN was due to being connected via a VPN provider wich blocked LAN connections and I wasn't aware of that. Sorry but the errors messages that expo gives are

[2019-01-16 13:14] palingheorghe commented on #67
Hi,
I've looked into this problem a bit and as far as I can see a lot of people are having this same exact issue but no real solution was found.

Take a look here: [issue #184 of react-native-video repo](https://github.com/react-native-community/react-native-video/issues/184). This is not the exact same error but it's a good place to start in order to find a good solution.

I agree with @hetmann y

[2019-01-16 23:53] fbraz commented on #67
I know, I'm using v29 too. Ok, I will try on another computer.

[2019-01-29 19:47] rteobaldo commented on #67
There is some update about that? I'm having the same bug.

[2019-01-30 06:04] fbraz commented on #67
Ok, so it's not my machine. What are your specs @rteobaldo? Are you on linux?

[2019-02-07 21:21] flamebeard commented on #67
I'm also getting this exact same error.

Initiated a brand new expo app using the expo CLI.

Dependancy versions

`"dependencies": {
    "expo": "^32.0.0",
    "galio-framework": "^0.4.2",
    "react": "16.5.0",
    "react-native": "https://github.com/expo/react-native/archive/sdk-32.0.0.tar.gz"
  }`

Then on an attempt to view this framework in the expo app, I'm getting the exact same error as li

[2019-02-08 04:50] idrakimuhamad commented on #67
Getting the same error too on freshly created app.

[code]

The error seems to be originated from `expo-asset` which look up on `expo-constants`. Both this packages seems present in the `node_modules`.

[2019-02-08 12:21] palingheorghe commented on #67
Hi @idrakimuhamad, @flamebeard ! I wasn't able to fix this issue at the moment so I'm going to have to keep on trying. I am getting the exact same error while using `yarn`. Another type of error pops up while using `npm`.

Small summary with the current status of this situation:
- npm error: As far as I could get I noticed that a different type of error pops up because of `react-native-svg`
- yarn

[2019-02-08 14:47] palingheorghe commented on #67
**Easy and fast fix**:
Until I'll be able to solve the issues (which are clearly regarding node_modules) you can always continue creating your apps with Galio.

The easiest and best way to still use Galio with your app is the following:

_Clone our repo in a different folder. Go ahead and copy the insides of the `src` folder and create a new folder in your project's root folder (you could call it

[2019-02-08 22:08] pherm commented on #65
I have some problems

[2019-02-10 08:43] palingheorghe commented on #65
Hi @pherm,

Are you talking about testing on iOS? Unfortunately, Expo doesn't support testing other people's apps on iOS anymore. You can only test the app using the QR code or [this link](https://expo.io/@galio-framework/galio-native-kit) on Android. This is not a Galio related issue, it is more a limitation issue Apple has imposed on apps like Expo.

You can always test our app on iOS by cloning

[2019-02-10 21:26] flamebeard commented on #67
Thanks for your help man, If you need help replicating this then please let me know, I'm happy to help out testing this for you if need be 😃

[2019-02-11 00:02] fbraz commented on #67
How did you get to know about that?

[2019-02-11 00:51] flamebeard commented on #67
I wondered the same thing

[2019-02-11 03:47] idrakimuhamad commented on #67
@fbraz @flamebeard Well I can only assumed that based on the thrown error that it happened in the `Asset.js` which when I look up,  happens to be in `expo-asset` which reading the `Manifest` constants from `expo-contants`. 😬Could totally be unrelated

[2019-02-11 04:51] hetmann commented on #67
Just update the expo version to the latest one :)

[2019-02-11 13:52] matthintosh opened #68 "Using Galio with ejected app"
**Bug description**
Hello, I'm would like to use Galio component on an react-native ejected app.
Actually I have the issue which is : "The Expo SDK requires expo to run"

**To Reproduce**
Only trying to use Galio component on and ejected app

**Screenshots**
![simulator screen shot - iphone x - 2019-02-11 at 14 50 02](https://user-images.githubusercontent.com/6673744/52567416-907b5d80-2e0c-11e9-94

[2019-02-11 14:40] harshrajk commented on #68
I second this.I am still waiting eagerly to use this without expo.

[2019-02-12 08:35] palingheorghe commented on #68
Hi,

Galio has Expo as a dependency so it needs it in order to run. By removing Expo you leave no option for React-Native but to throw out that error.

If you must remove Expo I recommend doing the following. Clone the repo and copy the `src` folder inside a 'galio' folder in your app's root folder. Now... this isn't the best approach being the fact that the Icon and Button components have depende

[2019-02-12 10:15] palingheorghe commented on #57
Hi @samcyn,
Are you still available to create the radio component?

Thanks ❤️

[2019-02-12 10:23] samcyn commented on #57
Yes very well. Had a long break and just resuming. Should be done in a week. Thanks

On Feb 12, 2019 11:15 AM, Petru Alin Gheorghe <notifications@github.com> wrote:

Hi @samcyn<https://github.com/samcyn>,
Are you still available to create the radio component?

Thanks ❤️

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/galio-or

[2019-02-12 13:39] matthintosh commented on #68
Hi @palingheorghe,

Thank you for your reply.
I will probably wait for the the updated version of Galio because I would like to use buttons...

Regards,

[2019-02-12 15:44] palingheorghe commented on #67
Hi again @fbraz, @flamebeard, @rteobaldo, @idrakimuhamad!

You should try reinstalling Galio. It is now working as expected ❤️.
Thanks @hetmann for the tip and thank you all for your patience!

Happy coding!

[2019-02-12 17:10] idrakimuhamad commented on #67
@palingheorghe can confirm its working alright on 0.4.3

[2019-02-12 19:20] #67 closed

[2019-02-12 19:24] hetmann commented on #68
Or refactoring all the components to be Expo free :)

[2019-02-12 19:39] palingheorghe commented on #68
Hi @hetmann,
As I said:

This is one of our goals.

I'll close this now because this question has been answered.

Thanks,
❤️

[2019-02-12 19:39] #68 closed

[2019-02-19 16:52] leommh opened #70 "not start project? npm run android / npm run ios not working!"
Hi, sorry for the inconvenience and my English. My native language is not English, so maybe some things go wrong.

But I would like to report that I cloned the project, I installed it with npm install, but no command worked to run the project on my android emulator. I looked in the package and it does not seem to have any script to start the project. And even installing the expo, I also could not

[2019-02-19 19:13] avinashvalluru commented on #55
@hetmann may i know when can i expect icon without expo sdk ?

[2019-02-20 09:40] palingheorghe commented on #55
Hi @avinashvalluru ,
We can't give out a specific ETA for this. We're planning on releasing Galio without the Expo SDK in version 0.6.

Thanks,
Alin 🤙🏽

[2019-02-20 09:48] palingheorghe commented on #70
Hi @leommh,

If you'd like to test Galio (check out some of its screens, components, etc) you need to install the `examples` branch, **not** the `master` branch which only contains the components ready to be used in your app.

If you'd like to use Galio in your app then you'd want to create a new Expo app and then run `npm install galio-framework`. After that, you'd be able to use Galio just like

[2019-02-20 09:48] #70 closed

[2019-02-25 09:01] palingheorghe commented on #57
Hi @samcyn,
We needed this component for releasing v0.5 of Galio, could you please give us an ETA?

Thank you for your help,
Alin 🤙🏽

[2019-02-25 10:31] samcyn commented on #57
hi sorry for the delay I change job and location, and my new place has been demanding. Expect a pull request tonight anyways. Regards. Samson
________________________________
From: Petru Alin Gheorghe <notifications@github.com>
Sent: Monday, February 25, 2019 10:01 AM
To: galio-org/galio
Cc: Samson Iyanda; Mention
Subject: Re: [galio-org/galio] Components: Custom from inputs (checkbox, radio) (#57

[2019-02-27 15:59] #60 closed

[2019-02-27 15:59] #59 closed

[2019-02-27 15:59] #57 closed

[2019-02-27 16:01] palingheorghe commented on #47
Closed the issue after discussing this on our [Gitter](https://gitter.im/galio-community/Lobby) channel.

[2019-02-27 16:01] #47 closed

[2019-02-28 14:10] leommh opened #74 "Focus() in Input!"
**Is your feature request related to a problem? Please describe.**
The inputs do not pass the functions of focus (), blur (), among others of the TextInput of React Native.

**Describe the solution you'd like**
I would like these functions to be passed so that I could control focus and transfer from one input to another after I finish entering the value.

**Describe alternatives you've considered*

[2019-03-01 19:08] iamshrikantjha commented on #74
Image 1
![whatsapp image 2019-03-02 at 12 34 16 am](https://user-images.githubusercontent.com/22591983/53660055-055eec00-3c83-11e9-86bc-23efa7eaa9b5.jpeg)
Image 2

![whatsapp image 2019-03-02 at 12 34 11 am](https://user-images.githubusercontent.com/22591983/53660052-04c65580-3c83-11e9-980c-b05738b757b0.jpeg)

When we are using expo application then in Login Screen option there is an issue with in

[2019-03-01 19:11] iamshrikantjha commented on #74
![whatsapp image 2019-03-02 at 12 40 16 am](https://user-images.githubusercontent.com/22591983/53660451-ec0a6f80-3c83-11e9-8bd8-c7620d9b1145.jpeg)
Same issue with register screen

[2019-03-01 19:30] leommh commented on #74
Man, since it's an open library, I think you can try to sort and upload a pull request here in the project.

To try to give you a help and believe that this is happening because of the "KeyboardAvoidingView", this component has a property called keyboardVerticalOffset that defines how much effect it will apply when the input is selected.

Doc Official: https://facebook.github.io/react-native/docs/

[2019-03-19 10:45] hetmann commented on #74
@leommh maybe you can try using: https://reactjs.org/docs/forwarding-refs.html

[2019-04-05 17:06] cooleyeglasses opened #76 "github.com-galio-org-galio@examples"
**Describe the bug**
Unable to resolve module ‘module://galio-framework.js’

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://snack.expo.io/@cooleyeglass/github.com-galio-org-galio@examples
2. Click on 'Tap to Play' of the PREVIEW Android
3. Scroll down to bottom of  browser
4. See error
Device: (78:20)
Unable to resolve module ‘module://galio-framework.js’
Evaluating module://ga

[2019-04-09 19:55] palingheorghe opened #77 "Spanish translation docs"
Hi guys!

As you can see we've added the last 4 new components to our documentation. We need help translating the new pages into Spanish (because we already have the spanish translation which is now outdated with our new update).

Last time @antelbra did the translation. So if he is able to help us again that'd be great but if he's not available and someone wants this issue that'd be fine as well.

[2019-04-09 20:28] palingheorghe commented on #76
Hi @cooleyeglasses !

I am not completely sure what's the problem here but I guess it has something to do with some libraries not being found. I'm going to try more methods to see if I can get it to work.

You can always try our examples app on a physical device/simulator so if you want to see how things are looking go ahead and try that method as well 😊.

Thanks,
Alin

[2019-04-11 08:18] antelbra commented on #77
I'll do it ✌️ @palingheorghe

[2019-04-11 15:19] palingheorghe commented on #77
That's great! Thanks for all the help! ❤️

[2019-04-17 22:16] #77 closed

[2019-04-17 22:26] palingheorghe commented on #63
In my opinion, there's nothing wrong with the way things are written now in the `index.js` file.
I think we'll leave it as it is for now and if more issues like this one emerge than we're going to direct people to this issue.

Alin 🤙🏽

[2019-04-17 22:26] #63 closed

[2019-04-28 03:50] nicoaudy opened #80 "Unable module expo on react native init"
**Bug**
Error: Unable to resolve module `expo` from `path/appname/node_modules/galio-framework/src/Icon.js`: Module `expo` does not exist in the Haste module map.
im using react-native init instead of expo, any suggestion?

[2019-05-01 17:01] dantopa opened #81 "Doesn't work on expo 32 with typescript"
When trying to use a component says:

undefined is not an object (evaluating '_reactNativeVectorIcons.default.Galio = 0, _reactNativeVectorIcons.createIconSetFromIcoMoon)(_galio.default, 'Galio')')

[2019-05-01 20:26] palingheorghe commented on #80
Hi @nicoaudy !

Galio had dependencies in Expo so you will need to have Expo installed in order to use our library.

Thanks 🤙🏽

[2019-05-01 20:26] #80 closed

[2019-05-01 20:29] palingheorghe commented on #81
Hi @dantopa !

I will need more details on this, I'm not sure what's the issue, could you expand on this a bit more, please? What component did you import? Is it a new project? What's your react native version? We have a bug/question issue template that you can use 😊.

Thanks 🤙🏽

[2019-05-05 07:25] ghasemikasra39 opened #82 "Slider ReferenceError: Can't find variable: style"
I'm trying to use Slider:
[code]
I get the error:

 This error is located at:
in Slider (at theme/index.js:33)
in _class (at GalioPresentation.js:8)
 in RCTView (at View.js:44)
 in GalioPresentation (at LightingPresentation.js:179)
 in RCTView (at View.js:44)
 in RCTView (at View.js:44)

[2019-05-09 04:12] hetmann commented on #82
@ghasemikasra39 good finding, it is a small typo.

Destructuring **styles** from this.props `const { minimumValue, maximumValue, trackStyle, thumbStyle, activeColor, disabled, theme, styles } = this.props;`
Link: https://github.com/galio-org/galio/blob/master/src/Slider.js#L127

-> `const containerStyles = [styles.container, style];`
Link: https://github.com/galio-org/galio/blob/master/src/Slider.

[2019-05-26 18:40] superandrew opened #85 "Icon detailed how to"
**Is your feature request related to a problem? Please describe.**

I'm sure this is related to my deep ignorance on the subject, however, I think that some explanation on how to use icons could be of help to many who, like me, don't understand how to display an icon.

**Describe the solution you'd like**

I think that a link and an example of how to use an icon name to display an icon would be of

[2019-05-26 20:00] superandrew commented on #85
here's the list I created using the provided `json` file

[code]

[code]

It would be very useful to have this list on the documentation, with the icon on the side, wouldn't it?

[2019-05-30 10:52] palingheorghe commented on #85
Hi @superandrew,
As you can see on https://galio.io/docs/#/components/icon there's an example from which you can take inspiration. If you want to use any Icon that Expo has (https://expo.github.io/vector-icons/ ) you need to use it as following: `<Icon name="EXPO-ICON-NAME" family="EXPO-FAMILY-NAME" color={rgb(100,120,40)} size={10} />`where EXPO-ICON-NAME and EXPO-FAMILY-NAME are taken from the w

[2019-05-30 18:41] superandrew commented on #85
@palingheorghe ok, I finally got that. I'm honestly learning React, so I might have guessed it, but I didn't get the `family` part. If it is ok, instead of putting the entire icon list, I would integrate with your explanation the Icon section of the documentation. What do you think?

[2019-05-31 09:22] palingheorghe commented on #85
Any type of help regarding the documentation and our library is welcomed! Go ahead and submit a PR with your changes! ❤️

Thanks,
Alin 🤙🏽

[2019-05-31 09:22] #85 closed

[2019-05-31 13:01] palingheorghe opened #86 "Components: Toast notification"
**Read this:** [Working on a PR](https://github.com/galio-org/galio/wiki/Working-on-a-PR) | [CONTRIBUTING](https://github.com/galio-org/galio/blob/master/CONTRIBUTING.md) | [Galio's docs](https://galio.io/docs/)

As I've written in our [wiki](https://github.com/galio-org/galio/wiki). We're working towards v0.6 and for this thing to happen we need the following components.

Do you want to **help**?

[2019-05-31 13:02] palingheorghe opened #87 "Components: Deck Swiper"
**Read this:** [Working on a PR](https://github.com/galio-org/galio/wiki/Working-on-a-PR) | [CONTRIBUTING](https://github.com/galio-org/galio/blob/master/CONTRIBUTING.md) | [Galio's docs](https://galio.io/docs/)

As I've written in our [wiki](https://github.com/galio-org/galio/wiki). We're working towards v0.6 and for this thing to happen we need the following components.

Do you want to **help**?

[2019-05-31 13:04] palingheorghe opened #88 "Components: Accordion"
**Read this:** [Working on a PR](https://github.com/galio-org/galio/wiki/Working-on-a-PR) | [CONTRIBUTING](https://github.com/galio-org/galio/blob/master/CONTRIBUTING.md) | [Galio's docs](https://galio.io/docs/)

As I've written in our [wiki](https://github.com/galio-org/galio/wiki). We're working towards v0.6 and for this thing to happen we need the following components.

Do you want to **help**?

[2019-05-31 13:40] palingheorghe opened #89 "Components: Icon - update component"
**Read this:** [Working on a PR](https://github.com/galio-org/galio/wiki/Working-on-a-PR) | [CONTRIBUTING](https://github.com/galio-org/galio/blob/master/CONTRIBUTING.md) | [Galio's docs](https://galio.io/docs/)

As I've written in our [wiki](https://github.com/galio-org/galio/wiki). We're working towards v0.6 and for this thing to happen we need the following components.

_We're looking into remo

[2019-05-31 14:28] #65 closed

[2019-06-02 10:16] iamshrikantjha opened #90 "NavigationDrawerItems text cutting off"
**Describe the bug**
The Navigation Drawer is chopping off Drawer label in example branch

**To Reproduce**
Steps to reproduce the behavior:
1. Install project as it is.
2. Open app on expo.
3. Open Navigation Drawer
![WhatsApp Image 2019-06-02 at 3 40 56 PM](https://user-images.githubusercontent.com/22591983/58759790-5b2a8500-854d-11e9-85ce-3f9c0cf58694.jpeg)

**Expected behavior**
It should not

[2019-06-02 10:17] iamshrikantjha commented on #90
I can fix it.
Also I am a beginner in Open Source Contribution. I am open to suggestions.

[2019-06-09 09:04] zeritte opened #91 "add hitSlop to navbar left icon"
**The left navbar button is not user-friendly.**
Thank you for creating this awesome project. I want to add hitSlop to left navbar icon since without hitSlop it is really hard to use. I got too many feedbacks from test users about they are not able to click left button. I do not want to recreate a whole left component.
the button I am talking about: (the one next to dashboard)
<img width="132" alt

[2019-06-10 20:59] negreirosleo commented on #88
Hello, I would like to help the project, may I take this issue?

[2019-06-11 00:15] gunn opened #92 "The preview app doesn't run on new versions of expo client"
The app at https://expo.io/@galio-framework/galio-native-kit uses expo SDK 29 which the latest clients don't support.
See https://blog.expo.io/expo-sdk-v33-0-0-is-now-available-52d1c99dfe4c#dab0

![Screen Shot 2019-06-11 at 12 10 17 PM](https://user-images.githubusercontent.com/42500/59234830-92322200-8c42-11e9-9d7d-59bed05d1a10.png)

[2019-06-11 07:58] palingheorghe commented on #92
Hi @gunn ! Thank you for opening up this issue!
We'd have to update the app for our next version for sure! If anybody wants to try doing this in the meantime that'd be great! ❤️

Thanks,
Alin

[2019-06-11 08:01] palingheorghe commented on #88
Hi @negreirosleo ! For sure! I'm going to assign you this issue! Don't forget to read the [CONTRIBUTING](https://github.com/galio-org/galio/blob/master/CONTRIBUTING.md) file and have fun!

[2019-06-11 09:27] gunn commented on #92
Great. For someone who wanted to try, where is the source for the app?

[2019-06-11 11:14] palingheorghe commented on #92
The `examples` branch contains the app. You could find more about our current set up on our [wiki](https://github.com/galio-org/galio/wiki) 🤙🏽.

[2019-06-11 15:07] james-berry opened #93 "Expo SDK 33.0.0 not working?"
Have just freshed installed Galio with `npm i --save galio-framework` on expo SDK 33. Am getting error:
`undefined is not an object (evaluating '_vectorIcons.default.Galio = (0, _vectorIcons.createIconSetFromIcoMoon)(_galio.default, 'Galio')')`

I commented out this line in galio-framework/src/Icon.js:
`// Icons.Galio = createIconSetFromIcoMoon(galioConfig, 'Galio');`

There is now no error, howev

[2019-06-11 20:01] negreirosleo commented on #88
Thank you very much :)

[2019-06-11 20:02] negreirosleo commented on #88
Is there any style that I should follow?

[2019-06-12 21:15] JOEAV commented on #93
same thing here. the author should upgrade expo dependencies

[2019-06-13 06:09] palingheorghe commented on #93
Hi @james-berry @JOEAV ! Thanks for giving me a heads up! Yes, this needs to be fixed asap so people could use the framework. I'll update the dependencies.

Thanks,
Alin

[2019-06-13 06:12] palingheorghe commented on #91
Hi @zeritte,

That's so cool, I'm glad you opened your first issue with Galio! Open up a PR regarding this issue and I'll sure accept it because this seems like a really good feature for our component!

Thanks! ⭐️

[2019-06-13 07:31] palingheorghe commented on #88
Hi @negreirosleo ! Sorry for the late reply but I got the design files ❤️! You could find them [here](https://github.com/galio-org/galio/tree/design/v0.6%20components/Accordion).

Thanks again! 🤙🏽

[2019-06-13 13:52] #91 closed

[2019-06-16 14:06] palingheorghe commented on #90
Hi @iamshrikantjha ! Thanks for opening this issue!

Sorry for the late reply, yes you can go ahead and fix it, before that please don't forge tot read the [CONTRIBUTING](https://github.com/galio-org/galio/blob/master/CONTRIBUTING.md) file and [How to open a PR](https://github.com/galio-org/galio/wiki/Working-on-a-PR).

Thanks for your help,
Alin🤙🏽

[2019-06-16 22:51] JOEAV commented on #93
@palingheorghe  hey , can you give us an estimation when does the upgradge
should take place ? thanks in advanced

[2019-06-17 09:15] palingheorghe commented on #93
Hi @JOEAV ! Yes, I'm going to push the changes today and remove Expo completely because it was only used for the Icon component.

Alin

[2019-06-17 10:03] james-berry commented on #93
@palingheorghe fantastic! many thanks in advance

[2019-06-17 10:33] palingheorghe commented on #89
This was done for the v0.5.2 as a hotfix. You can read more about it [here](https://github.com/galio-org/galio/releases/tag/v0.5.2).

[2019-06-17 10:33] #89 closed

[2019-06-17 10:35] palingheorghe commented on #93
@JOEAV @james-berry You should now be able to install Galio v0.5.2 through npm/yarn. Please tell me if you encounter any more problems with it. I've written more about this patch update [here](https://github.com/galio-org/galio/releases/tag/v0.5.2). !

[2019-06-17 10:35] #93 closed

[2019-06-17 10:36] palingheorghe commented on #82
Merged your PR! Thank you very much for your work! It's already on the master branch + some other changes. If you want to know more about v0.5.2 please read the release notes [here](https://github.com/galio-org/galio/releases/tag/v0.5.2).

Thanks, Alin.

[2019-06-17 10:36] #82 closed

[2019-06-17 17:19] aapav01 commented on #93
[code]
I Getting this Error,
i have just setup an expo init <project> and yarn install galio-framework and imported it in my app

[2019-06-19 07:25] palingheorghe commented on #92
Hi @gunn ! I've updated the app from https://expo.io/@galio-framework/galio-native-kit ! I didn't update all the screens but some of them and the components screen are there for trying out!

Thanks,
Alin

[2019-06-19 07:25] #92 closed

[2019-06-20 07:45] iamshrikantjha commented on #90
How can I fork or make changes to your branch examples?
I am finding it difficult.

[2019-06-20 09:27] palingheorghe commented on #90
Hi again @iamshrikantjha!
There's a Fork button in the top right corner of this page. That will fork the project into your GitHub account. It's kind of like creating a copy of someone else's repository on which you can experiment and do whatever you want. Keep in mind that at the end of your journey regarding fixing this bug you'd have to create a PR which will merge your fork with our original re

[2019-06-20 21:10] iamshrikantjha commented on #90
I want to make changes to the example branch of your github repo so kindly
add me to that.

That example branch which actually demonstrate the galio ui kit on expo.
I want to make changes to that only.

And correct me if I am wrong

Thanks

On Thu, Jun 20, 2019, 2:57 PM Petru Alin Gheorghe <notifications@github.com>
wrote:

[2019-06-21 01:32] pejoujarrar commented on #81
I have the same problem, any updates?

[2019-06-21 11:36] palingheorghe commented on #81
Hi @pejoujarrar ! The latest version should work with Expo 33/32. I haven't added any support for typescript yet. If any of you would like to help out with this that'd be great! ⭐️

[2019-06-22 22:06] extenss commented on #86
Hi, I can take this.

[2019-06-24 05:53] palingheorghe commented on #86
Hi @extenss ! Cool, I've assigned you the issue!

Thanks,
Alin!

[2019-06-24 14:23] leslielyj commented on #81
@palingheorghe Have the same issue, worked perfectly fine before I upgraded to SDK 33.
Error Message:
`
Uncaught Error: undefined is not an object (evaluating 'S.default.Galio=(0,S.createIconSetFromIcoMoon)(w.default,'Galio')')`

before:
[code]
after
[code]

[2019-06-24 16:20] superandrew opened #97 "remove left icon"
**Is your feature request related to a problem? Please describe.**
I would like to remove the left icon from the navbar. It doesn't seems possible

**Describe the solution you'd like**
One possible solution would be to provide a leftIcon nullable property

**Describe alternatives you've considered**
To color the icon the same color of background 🙇‍♂️

[2019-06-25 00:22] pejoujarrar commented on #81
Hi @palingheorghe, it works fine with 32 but not with the version 33. The error above appears with this version.

[2019-06-25 08:12] palingheorghe commented on #97
Hi @superandrew ! Yes, that's a problem. It should really be easier to remove the left Icon completely. Do you have an idea about how would you go about resolving this? In my opinion, I think the left Icon should be default to the component but we could use a prop like `simple` for a simple NavBar (no icons, just text). Right now we have `left` and `onLeftPress` which enables the user to do whatev

[2019-06-25 08:16] palingheorghe commented on #81
Hi @leslielyj @pejoujarrar ! Have you tried upgrading `galio-framework`? Our latest version `0.5.3` works perfectly fine with SDK33. I've removed Expo completely so there shouldn't be any more problems with Expo from now on.

Thanks, Alin 🤙🏽

[2019-06-25 08:17] #81 closed

[2019-06-25 13:35] superandrew commented on #97
@palingheorghe I realized that since I was using https://github.com/creativetimofficial/material-kit-react-native their `Header` wasn't respecting the `left` property and that led me to think that the left view was something that was different than the left icon/menu button.

That said, I still think that a `simple` that allows a "no-icon" mode or even `menu` (true|false) property would help in ap

[2019-06-26 06:33] palingheorghe commented on #97
Yeah you're right @superandrew . This should be implemented, our component really needs that. You could submit a PR regarding this if you feel like contributing to Galio. We could update this in v0.6.

Thanks,
Alin

[2019-06-26 07:53] superandrew commented on #97
Sure, I will try to work out a solution. I linked galio trough `yarn link` but I have this error

    Unable to resolve "@babel/runtime/helpers/interopRequireWildcard" from "../galio/src/index.js"

Since I am not practical with local node modules development, am I missing something obvious or is this a setup mistake?

Thanks

[2019-06-26 09:42] superandrew commented on #97
ouch I think that updating galio broke a whole lot of things since the release 1.5.3 changed a lot of things. Also, because I was using material kit from creativetim, I think most of the changes I made to the material kit layer are now incompatible.. so I'll have to rework it a little bit before making that change

[2019-06-26 14:00] palingheorghe commented on #97
You could take a look at our change log [here](https://github.com/galio-org/galio/releases). I didn't change much besides the Icon component. This should help you make the process of updating your app faster.

[2019-06-30 20:40] SantiagoMolinaOrozco opened #98 "Error with new expo sdk 33.0.0 to open web app"
**Describe the bug**
I get this error to open my project in the browser but not on android with new expo version

**To Reproduce**
Steps to reproduce the behavior:
1. Run  'expo start --web'
2. See error:

**Expected behavior**
Run project in the browser

**Smartphone (please complete the following information):**
 - Device: Linux deepin, Firefox
 - Type of device: Browser
 - React-Native version:

[2019-07-04 16:55] sam1463 commented on #74
Another option, much like ref forwarding, but that would allow refs to either the galio input or the react-native textinput, would be to just add an `onRef` (or otherwise named) prop to the galio input component, which is then just passed to the text input.

[code]

[code]

If that would be ok, I can open a PR. I've just changed it locally and it's working

[2019-07-05 13:31] Jayaprakash7 opened #100 "How to change the value of checkbox dynamically in Galio-Framwork checkbox?"

[2019-07-08 13:49] palingheorghe commented on #98
Hi @SantiagoMolinaOrozco ! I haven't experimented with Expo web version yet so I'm not really sure what's the problem. We might have to try and update Galio but this doesn't have the biggest priority right now,.

[2019-07-08 17:11] AmeerHamzaRiaz commented on #31
Any tips/leads on how to build Menu Screen? I really love this design.

[2019-07-08 17:42] SantiagoMolinaOrozco commented on #98
@palingheorghe yeah, its a new feature from expo :see_no_evil: thanks for the fast answer.

[2019-07-08 19:54] Chojecki commented on #87
Do you mean Tinder like collection view layout? I did something similar in native Swift here: https://apps.apple.com/pl/app/the-idea/id1454724260

I can try to pick it ReactNative. Are there any requirements like "data source should be..." etc ?

[2019-07-10 17:00] aloptrbl opened #101 "Switch trackColor not working"
Switch trackColor true value and default string value not working changing color but false value working when changing to this:
[code]

[2019-07-12 16:54] palingheorghe commented on #87
Hi @Chojecki ! Yeah, Tinder is the best example of this kind of component. It should be a component with the Tinder deck swiping feature which accepts any type of component. So basically if I want 4 Text components to be stacked one on top of the other and I want to swipe them to the left/right in order to get to the next Text component it should work.
Do you have any ideas about how should we go

[2019-07-12 17:05] palingheorghe commented on #31
Hi @AmeerHamzaRiaz ! That one is kind of complicated you'd have to use the Animated and PanResponder APIs. I'm not sure if you could just style the `react-navigation` drawer but I'm pretty sure it could be implemented in a module like that one. This was all for Hacktoberfest 2018 and Galio has matured. The focus has now shifted on fixing and creating more components. If you want to help out, check

[2019-07-13 09:04] AmeerHamzaRiaz commented on #31
thanks @palingheorghe  for your response. I found [a component](https://github.com/d3fkon/react-native-reside-menu) through which it can be implemented, I'll try to make it work with `react-natvigation` (just for fun). Good luck with Galio.

[2019-07-13 11:51] Chojecki commented on #87
@palingheorghe Ye, I guess it could be a Component which takes an array of Components and map them into Stack of animated views wrapper with those components inside. Then all drag and drop logic will go to this animated wrapper. Not perfect as we can't predict the shape of array but should work. I will try to fork the repo and create something

[2019-07-13 16:04] indper commented on #97
you can add:
left={(
        <Button
          color="transparent"
          style={styles.settings}

        </Button>
      )}

[2019-07-13 16:05] indper commented on #97
You can add
` left={(
        <Button
          color="transparent"
          style={styles.settings}

        </Button>
      )}`

[2019-07-14 19:40] shubhamkakkar opened #102 "Article.js Screen of the application is not scrollable and hence some of the content is not displayed properly"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/galio-org/galio.git
cd galio
git checkout examples
npm install or yarn instal

2. open the code in code editor/IDE of your choice and navigate to routes.js file in the root of the directory

3. Scrolldown to commented code and uncomment the fol

[2019-07-14 19:41] shubhamkakkar commented on #102
### I am taking this

[2019-07-14 20:53] shubhamkakkar opened #104 "Convert all the class based components to functional components and respective state managements to react hooks"
We all are aware of the benefits of functional components over class based components and I am planning to convert them

[2019-07-15 08:19] shubhamkakkar commented on #90
Can someone elaborate this bug?

[2019-07-15 08:22] shubhamkakkar commented on #87
Is this issue still open?
As I have made a horizontalScroller before and I could raise a PR here for it ?

[2019-07-15 08:37] Chojecki commented on #87
@shubhamkakkar sure, you can take it if you want. I just started doing it in functional components with hooks - I can share you gist if you want, but feel free to pick it instead of me.

mine works like this when we inject just 3 simple Text components into it:
![ezgif com-video-to-gif-2](https://user-images.githubusercontent.com/20075941/61204032-69db8e80-a6ec-11e9-84dd-7b6a3d59a52b.gif)

[2019-07-15 11:56] shubhamkakkar commented on #87
Hey, it would be nice.
Share me the gist
It would be highly beneficial
Thank you

[2019-07-15 12:14] Chojecki commented on #87
@shubhamkakkar link to my code: https://gist.github.com/Chojecki/5c76675ef2a2889ae6e360d4d8a35846

[2019-07-15 12:18] shubhamkakkar commented on #87
https://codeburst.io/horizontal-scroll-animations-in-react-native-18dac6e9c720

I was thinking something like this, but with better effects and UX
what's your say?
@Chojecki

[2019-07-15 13:09] Chojecki commented on #87
Not sure if this is a Deck Swiper as it isn't a "Deck" but just a CollectionView/ListView of elements

No idea. Better ask @palingheorghe

[2019-07-15 14:09] shubhamkakkar commented on #87
Yup i can relate to it not being a ideal deck type

What's your views about https://link.medium.com/FsQ0zwXqlY

[2019-07-15 14:55] Chojecki commented on #87
For me its too specific. I can imagine that users will want as much vanilla component as it’s possible to customise it like they want. Like @palingheorghe mentioned, the perfect example is Tinder like deck. But hey, its not mine repo, so do what you consider the best :)

[2019-07-15 17:59] shubhamkakkar commented on #87
Haha
I get it,
the reason why I dont like tinder's deck is because once the component is swiped of, it goes out and with no way to retrieve it, its actually the concern
Where as   https://link.medium.com/FsQ0zwXqlY this if given proper work could be a better swiper than others, with proper chance of rechecking our old swiped out  factors

@Chojecki  and @palingheorghe

[2019-07-15 18:16] shubhamkakkar commented on #101
You are unable to change the true color value because
its value could be only one of these
 'primary',  'theme', 'error',    'warning',   'success',  'info',

[2019-07-15 18:23] shubhamkakkar commented on #100
Can you provide some discreption or your code snippet?
@Jayaprakash7

[2019-07-17 12:47] palingheorghe commented on #87
Hi @Chojecki and @shubhamkakkar ! Guys, I'm really happy that these types of conversations are going on in Galio's repo! ❤️

I understand your concern @shubhamkakkar and I like the whole 'component shouldn't disappear' thing. Can't we combine those two ideas? We could have a prop like `intact` which could let the user(the dev using Galio) toggle between a component where the cards disappear  and o

[2019-07-17 12:48] palingheorghe commented on #102
Thanks for this issue @shubhamkakkar !

[2019-07-17 12:50] palingheorghe commented on #90
@iamshrikantjha could you help us with more details regarding this bug?

[2019-07-17 16:34] iamshrikantjha commented on #90
Actually what I am saying is that the drawer navigation items section is in
example branch of the project and I am unable to make changes to it because
I am not a part of it.
So kindly add me to that section of if I am wrong please let me know.

On Wed, Jul 17, 2019, 6:20 PM Petru Alin Gheorghe <notifications@github.com>
wrote:

[2019-07-17 19:25] shubhamkakkar commented on #97
I am working on this and will  soon raise a PR

[2019-07-17 19:52] shubhamkakkar opened #106 "Improper Alignment of navbar buttons (right)"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Clone the repo and run ther examples expo app by using the command
[code]
**Bug**
The navigation bar component's right button are not in center (vertical center)

**Expected behavior**
The navigation bar component's right button should be in center (vertical center)
**Screenshots**
![Screenshot_20190718-0114

[2019-07-17 20:45] shubhamkakkar commented on #104
Raised a PR #105

[2019-07-17 20:57] shubhamkakkar commented on #58
hey @palingheorghe can you provide me with a gist of your work as I am willing to take this component's work forward

I have implemented a similar component in past, not re-usable though
https://github.com/shubhamkakkar/EXPO-BOILERPLATE-Google-Facebook-LocalAuth/blob/master/src/containers/LoginSignup/LoginSignup.js

[2019-07-18 08:48] shubhamkakkar commented on #87
intact props sounds cool, I will try  working on that.

In the mean time I was trying to achieve the monzo card animation and I have come to the requriement of using libraries like **react-native-animated and redash**
Is there any limitation on extra libraries or not?

[2019-07-23 07:38] palingheorghe commented on #87
@shubhamkakkar sorry for the late reply, I was always trying to avoid more libraries. Do you think we could do this with a lighter library? I know we could add the dependencies in peerDependencies and the user needs to install those only if he's using them. So basically if the user really needs to use the deck swiper I guess he won't mind installing those?

What do you think about this? Would addi

[2019-07-23 07:40] palingheorghe commented on #58
Hi @shubhamkakkar I haven't yet started working on this. You could go ahead and create a re-usable Segment component. Thanks for helping out so much!

[2019-07-25 18:01] robertqin86 opened #110 "Execution failed for task :app:mergeReleaseResources for Android release"
**Describe the bug**
Execution failed for task :app:mergeReleaseResources for Android release when running
`react-native run-android --variant=release`. The specific error is due to duplicate resources interpretation by Android for both the `galio.json` and `galion.ttf` under the `fonts` directory.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `react-native run-android --variant=releas

[2019-07-28 05:30] kalyantm commented on #58
@shubhamkakkar  Hey are u working on this segment component?

[2019-07-29 12:22] shubhamkakkar commented on #58
yes I am working on it
the tabs are ready and its the tab panel that remains

[2019-07-31 19:21] shubhamkakkar commented on #58
Hey @palingheorghe  can you help me with one thing, I am trying to apply minWidth on the segment container so as to limit the max noScroll tabs visual to 5 tabs and scroll for above

but
[code]
doesn't work as expected !!
Any help?

[2019-08-04 19:49] shubhamkakkar opened #111 "Add Segment example in Expo app"
I am taking this issue

[2019-08-08 18:19] shubhamkakkar commented on #61
Segment screen is added !!

[2019-08-09 19:15] wrtisans commented on #110
Please merge this fix...

[2019-08-12 14:07] palingheorghe commented on #110
Merged! Thanks for the good work!

[2019-08-12 14:07] #110 closed

[2019-08-15 12:32] shubhamkakkar commented on #106
PR #114

[2019-08-17 05:26] shubhamkakkar opened #117 "Draggable FlatList"
I was wondering if we could bring in some draggable list component, as this is the thing missing in most of the popular UI components library and devs have to use additional libraries!!

[2019-08-18 12:55] superandrew opened #118 "Constants not extended"
**Describe the bug**
A clear and concise description of what the bug is.
I am not sure if this is a bug related to Expo 34/RN0.59. Probably some misconfiguration on my side.

I thought the problem was related to Material Kit which I was trying to use, but after some investigating, I closed this https://github.com/creativetimofficial/material-kit-react-native/issues/5 because it is definitely a pro

[2019-08-20 11:20] palingheorghe commented on #88
Hi @negreirosleo ! Are you still working at this one?

[2019-08-22 08:04] abodehq opened #119 "Great Library"
just i want to know what platform u used to build your website https://galio.io/ i will be more than happy if you can let me know what u used.

thanks

[2019-08-22 13:14] palingheorghe commented on #119
Hi @abodehq ! Galio's using jekyll with gh-pages for the website. The design is inspired by Google's Material Design.

Alin

[2019-08-22 13:14] #119 closed

[2019-08-26 06:46] palingheorghe commented on #87
Hi @shubhamkakkar are you still working on this?

[2019-08-28 13:13] palingheorghe commented on #88
I've taken this issue due to the fact that @negreirosleo didn't reply. I'm working on it right now on the branch called `components/accordion`.

[2019-08-28 15:05] abodehq commented on #119
thank you very much really appreciate your reply, is any theme template u were using along with jekyll to support google material ui ?

[2019-08-29 11:52] palingheorghe commented on #119
Nope, created from scratch.

[2019-08-29 12:28] palingheorghe commented on #117
What specifically do you have in mind when you say Draggable list component? I'm trying to visualize this on mobile and I'm not sure if this is really that used (I haven't seen it that much).

[2019-08-30 01:12] pejoujarrar opened #122 "Icon.js component problem in Expo SDK v33"
**Describe the bug**
I wanted to upgrade Expo SDK to atleast v33 in order to put the app in play store as it requires at least an API Level of 28. By doing it I've encountered the error discussed [here](https://github.com/galio-org/galio/issues/93) .
Then by upgrading galio-framework from v 0.4.x to v 0.5.2 I am facing another problem in the component Icon.js:

**Screenshots**
![voila](https://use

[2019-08-30 03:00] pejoujarrar commented on #93
Hello,

Please, any updates because I am encountering the same problem.

[2019-08-30 10:27] shubhamkakkar commented on #58
Hey, @palingheorghe
https://snack.expo.io/@shubhamkakkar/segment-galio
This is the generic representation of the segment component I have, I just wanted some overview of it, the only thing I believe is left is the **theme**

[2019-09-02 15:46] palingheorghe commented on #58
Hi @shubhamkakkar can you please push it as a PR so I could test it locally?

[2019-09-02 16:06] palingheorghe commented on #122
Hi @pejoujarrar ! Could you send me a snippet of your code just so I can see what exactly are you using from `galio-framework`? Also could you please go to your `node_modules` folder, search for `galio-framework` and verify if it looks identical to our `master` branch?

[2019-09-02 16:14] palingheorghe commented on #87
@shubhamkakkar imma bump this one more time cause I need to know the progress of this component

thanks ❤️

[2019-09-02 18:56] shubhamkakkar commented on #87
I am sorry, I wasn't able to reply on time,
NO, I am not working in this one !!
Sorry for the inconveniences caused!!

On Mon, Sep 2, 2019, 9:44 PM Petru Alin Gheorghe <notifications@github.com>
wrote:

[2019-09-02 19:05] shubhamkakkar commented on #58
https://snack.expo.io/@shubhamkakkar/segment-galio
this is the snack for the yet done work!!

[2019-09-02 19:06] shubhamkakkar commented on #58
@palingheorghe I do need a few reviews and feedback related to the structure of this component as compared to the other component

Besides only connection with the theme is left and a few here there too!!!

[2019-09-03 01:17] pejoujarrar commented on #122
Hi @palingheorghe,

Thank you for the answer, I tried to clone the branch directly in the project. The problem is situated in the file src/Icon.js. Expo is not longer able to load ./font/galio.ttf Here is the error:

![error](https://user-images.githubusercontent.com/49135588/64137486-78643d80-ce33-11e9-9cbc-d6da9044be78.png)

The load of ttf file is done in this line:

`const Galio = createIconSe

[2019-09-08 01:39] DadaConsultant commented on #122
I have the same issue. Any luck on this pls @palingheorghe?

@pejoujarrar have you been able to resolve yours

[2019-09-09 00:48] pejoujarrar commented on #122
@DadaConsultant , Unfortunately, still no progress.

[2019-09-09 12:04] palingheorghe commented on #122
Ok guys so I managed to get somewhere regarding that warning.

You have to remove the prop called `family` if you're using the component from `createIconSetFromIcoMoon`.

I init a new Expo app and played around with the Icon in the default App.js file.
This is my code:
[code]

Both icons show up as expected in the simulator.

Hope this'll help you out @pejoujarrar @DadaConsultant ! 🧜🏽‍♂️⭐️

[2019-09-10 02:56] pejoujarrar commented on #122
@palingheorghe Thank you very much, waiting for @DadaConsultant to confirm the solution you mentionned.

As for me i managed to solve the problem by not using any Icon from Galio family. Here is the list of families that can be used:

So i just replaced the family of icons I was using from Galio to an equivalent to this icons in the other families. Now everything is working.

Thank you for the sup

[2019-09-10 15:18] camilogiraldo commented on #61
Hey, I just want to get involved in this. Can I help with either of those screens ?

[2019-09-11 10:20] palingheorghe commented on #61
Hi @camilogiraldo ! Yes of course you can get involved, we can't really do the Segment screen right now but you can do the Settings screen.

🧜🏽‍♂️

[2019-09-11 13:06] palingheorghe commented on #74
@sam1463 's solution is now included in v0.6

Thanks for your help!

[2019-09-11 13:07] #86 closed

[2019-09-11 13:08] #87 closed

[2019-09-11 13:08] #88 closed

[2019-09-11 13:10] #100 closed

[2019-09-11 13:10] #104 closed

[2019-09-13 09:58] mamkkl opened #128 "Can't find variable: name in NavBar"
Exception when using NavBar, exception message as below:

[code]

Located in NavBar.js:47
`if (name || back) {`

My env
react: 16.8.6
react-native: 0.60.5
galio: 0.6.0

[2019-09-13 13:44] palingheorghe commented on #128
Hi @mamkkl ,

Change the `name` variable to `leftIconName`. This should solve the problem locally. I'll make a hotfix for this issue as soon as possible.
🧜🏽‍♂️

[2019-09-13 16:27] mamkkl commented on #128
Hi @palingheorghe ,

I can run the app by change name to leftIconName. I will create a pull request for it.

Thank you.

[2019-09-15 11:02] sonugk opened #130 "Reference Error: Can't find variable: theme"
**Describe the bug**
I upgraded from `galio-framework` version `0.5.3` to `0.6.0` and getting below error.
I am using creative-tim's argon free theme bvased on galio `0.5.3`

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade from any galio 0.5.3 project to 0.6.0, sample project which I am using [is here](https://www.creative-tim.com/product/argon-react-native)
2. Run the project using E

[2019-09-15 16:53] sonugk commented on #130
After digging donw found it was missing parameter `theme` in Checkbox function in `node-modules\galio-framework\Checkbox.js` line no 79. I have used this local solution for now.
Please check highlighted items in image

![image](https://user-images.githubusercontent.com/12816063/64924929-61065680-d81c-11e9-96f7-606de2ef4dba.png)

[2019-09-16 06:10] varunrachakatla commented on #122
import React from 'react';
import * as Font from 'expo-font';

import { Ionicons } from '@expo/vector-icons';

import { createIconSetFromIcoMoon } from 'react-native-vector-icons';
import PropTypes from 'prop-types';

import GalioTheme, { withGalio } from './theme';
import galioConfig from './fonts/galio';

Ionicons.Galio = createIconSetFromIcoMoon(galioConfig, 'Galio');
const GalioFont = require(

[2019-09-16 09:00] palingheorghe commented on #130
Hi @sonugk ! As I can see adding `theme` as a prop solved your issue. I'll make sure to update the library with your solution asap.

Alin 🧜🏽‍♂️

[2019-09-16 10:22] sonugk commented on #130
@palingheorghe
 Okay thanks a lot.

[2019-09-16 12:05] palingheorghe commented on #122
I'm glad you managed to solve your problem if you ever encounter more problems like this please refer to my comment above.

🧜🏽‍♂️🧞‍♂️

[2019-09-16 12:05] #122 closed

[2019-09-16 14:14] palingheorghe commented on #130
Closed the issue because I pushed a hotfix regarding these issues. You can find out more about this hotfix here: https://github.com/galio-org/galio/releases/tag/v0.6.1

[2019-09-16 14:14] #130 closed

[2019-09-16 14:15] palingheorghe commented on #128
Closed this because I fixed this with a merge in v0.6.1, you can find out more about this hotfix here: https://github.com/galio-org/galio/releases/tag/v0.6.1

[2019-09-16 14:15] #128 closed

[2019-09-17 15:07] Conceptx opened #132 "can't find variable: style" in Card (at theme.index.js:33) , can't fins variable: props" in Card (at theme.index.js:33)"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Install galio-framework in react-native project;
2. import { Card } from 'galio-framework';
3. use card example defined on galio.io
4. run react-native run-android to see error on device.

**Expected behavior**
To see galio card component as shown or similar to the one pro

[2019-09-23 19:26] sonugk opened #133 "Checkbox onChange is called when component is rendered first time with initialValue"
**Describe the bug**
Checkbox component's `onChange` handler is called when component is rendered for the first time with `initialValue`
In the Galio version before 0.6 it was not the case

**To Reproduce**
Steps to reproduce the behavior:
1. Add Galio Checkbox component in you screen
2. E.g. `<Checkbox onChange={() => {alert('OnChangeCalled')  this.setState({ termsAccepted: !this.state.termsAccep

[2019-09-23 21:54] stephanierobison commented on #122
The above fix didn't work for me and I've spent the past 3 hours trying not to slam my face into my desk.   Upgrading from Expo 32 to 35 has been a nightmare.

I ended up being able to the issue with changing the node_modules/galio-framework/Icon.js from
[code]
 to
[code]

[2019-09-26 21:02] seyaobey opened #134 "Card: ReferenceError: Can't find variable style"
**Describe the bug**
First time using the Galio framework (I am using it along with the argon template).
I am adding the Card component in my screen:

[code]

**Expected behavior**
Card component should mount with any issue

But this is what I'm getting:

**Screenshots**
<img width="375" alt="File_001" src="https://user-images.githubusercontent.com/2738569/65724527-e1487980-e0b0-11e9-8847-0849d585

[2019-09-28 19:47] GustavoBlaze opened #135 "Icon not found"
Hello.. I'm learning how to use this framework and i'm making a screen that has inputs and buttons.. Inside the inputs i want to use icons on the right side but it doens't work.. look
the code:
` <Input right icon="mail" family="MaterialIcons" style={styles.input} rounded={true} placeholder="email" type='email-address'/>`

print: https://gyazo.com/88a4634dcb9f516121e61f91c58f5a0d

[2019-09-29 16:37] GustavoBlaze commented on #135
I figure out was not a bug of Galio but about the vector icons.. I fix this with [this tip](https://github.com/oblador/react-native-vector-icons/issues/661#issuecomment-378546936)

[2019-09-29 16:37] #135 closed

[2019-09-29 23:48] GustavoBlaze commented on #134
It's happen with me too, and i'm use just the Galio

[2019-09-30 08:13] palingheorghe commented on #134
Hi @seyaobey @GustavoBlaze ! Thanks for pointing this out! This is a problem with our Card component which we need to solve asap. As far as I can see if you add the `style` prop and replace `...rest` with `...props` at the beginning of the function, everything is solved.

Thanks 🧜🏽‍♂️

[2019-09-30 08:15] palingheorghe commented on #132
Hi @Conceptx ! Thanks for pointing this out! Your commit doesn't really solve the issue, I've posted a solution which will be implemented as fast as possible: #134 .

Thanks, I'll close the conversation and we can move it there. 🧜🏽‍♂️

[2019-09-30 08:15] #132 closed

[2019-09-30 08:38] palingheorghe commented on #133
Hi @sonugk ! Sorry for taking so long to respond. I tested and you're right, the `onChange` function is getting called at the beginning because of the `useEffect` function. Basically every time the `checked` boolean state is changed the function is getting called, this happens at the first render of our component as well. We'll have to figure out a way for the Effect to not render at the beginning

[2019-09-30 08:59] sonugk commented on #133
Thank you for the response. The current workaround I am using is `setTimeout` setting `termsAccepted` state field to `true` again in `componentWillMount`. I will wait for the solution.

[2019-09-30 11:06] palingheorghe commented on #133
I think the best way of actually solving the problem would be by modifying the component back to a class based component. That way we can have more control over the lifecycle functions.

[2019-10-05 11:55] somilmathur opened #136 "Change font for entire app"
Hey I've started using Galio and find it very useful, however, I can't figure out how to change the fontFamily for the whole app? Can anyone help me out with that?

[2019-10-07 05:58] presola commented on #134
this is also the same for Text and Block components

[2019-10-07 06:46] AbdurRehman26 commented on #134
I cant seem to pass dynamic image url to card as well. Anyone here has done it ?

[2019-10-07 07:03] AbdurRehman26 commented on #134
Doing this works but for only static image paths. i can not pass a variable as prop for image

[2019-10-10 19:10] palingheorghe commented on #134
@presola the `style` prop should work as intended for the `Block` component. `Text` apparently has the same issue which can be solved by adding `style` in the prop section of the function in the `text.js` file of our component. We will solve this asap with the next hotfix.

@AbdurRehman26 I'm glad the fix worked! Could you please send a code snippet of the way you\'re adding the dynamic image plea

[2019-10-12 09:37] SaadQamar01 commented on #136
@somilmathur you can follow this article https://medium.com/react-native-training/react-native-custom-fonts-ccc9aacf9e5e

[2019-10-14 17:34] imetallica opened #140 "Error bundling JS"
**Describe the bug**
I've added Galio to my project and when I try to run the app with Expo and simulator/Expo's mobile app, this is the error I'm getting when bundling:

[code]

** Steps to reproduce **
1. Clone [this](https://github.com/creativetimofficial/argon-react-native) repository.
2. `npm install`
3. `npm run start`
4. Open the app in simulator or expo's mobile app

**Expected behavior**

[2019-10-14 18:27] ermalsh commented on #140
Due to PR #138 - 'style' is already declared at the top of the array object in the Text.js file.

[2019-10-15 05:46] AndreasEK commented on #117
The one place where I use that most is arranging playlists in Google Play Music (other music apps with playlists probably have that, too)

[2019-10-15 05:47] AndreasEK opened #141 "gesture control: switch tabs in NavBar with right/left swipe"
**Is your feature request related to a problem? Please describe.**
switching tabs is currently not supported by a gesture

**Describe the solution you'd like**
it should be possible to switch between tabs with a gesture

**Describe alternatives you've considered**
trying to add this manually or switching to another NavBar component

[2019-10-15 14:22] palingheorghe commented on #141
Could you please describe how the gesture would work ?

[2019-10-15 14:38] palingheorghe commented on #117
Like a to-do app where you re-organize the items in whatever order you want them to be? @AndreasEK

[2019-10-15 17:03] palingheorghe commented on #140
Solved in v0.6.3. [Release info](https://github.com/galio-org/galio/releases/tag/v0.6.3)

[2019-10-15 17:03] #140 closed

[2019-10-15 17:04] palingheorghe commented on #134
This specific issue should be solved now for Card and Text components. [Release info for v0.6.3](https://github.com/galio-org/galio/releases/tag/v0.6.3) [Release info for v0.6.2](https://github.com/galio-org/galio/releases/tag/v0.6.2)

[2019-10-15 17:04] #134 closed

[2019-10-15 21:43] tkalejaiye commented on #61
Is this still open to work on? I can see from #127 that some work has already been done on at least one of these screens.

[2019-10-16 06:00] AndreasEK commented on #117
yes, that's how I understood the original requirement

[2019-10-16 06:03] AndreasEK commented on #141
well, I thought I did that :)
you have multiple tabs, a swipe to the left navigates to the next tab (to the right)

See: https://material.io/components/tabs/#behavior - Swipe within the content area

[2019-10-17 01:44] palingheorghe commented on #141
This could definitely work, it's a good idea. I'm not sure about how to implement this without forcing a navigation library or stack up the memory. Do you have any suggestions for the implementation?

[2019-10-17 01:48] palingheorghe commented on #117
yeah, this is a good component for the future releases of Galio! I like the idea.

[2019-10-17 01:49] palingheorghe commented on #61
Hi @tkalejaiye! The Settings screen has been already created and we don't have the Segment component included in Galio yet so this issue should be suspended until we got the other component! But thank you for wanting to help, we always need a hand around here!

[2019-10-17 01:51] palingheorghe commented on #111
this has been closed for no other updates.

[2019-10-17 01:51] #111 closed

[2019-10-17 01:54] #76 closed

[2019-10-17 02:02] #106 closed

[2019-10-17 14:24] Gease-RS commented on #92
I clone Repositorie https://github.com/galio-org/galio.git and got the following error:

`Your project is in SDK version >= 33.0.0, but the expo package version seems to be older.
Error: Can't find react-native in package.json dependencies
Cannot find module 'expo/tools/LogReporter'
Set EXPO_DEBUG=true in your env to view the stack trace.`

My packagen.json and node_module have react-native:
`

[2019-10-17 18:10] palingheorghe commented on #92
Hi @Gease-RS ! Where did you clone the repo? The Galio `master` branch doesn't have an app so it can't work by itself. You need to install `galio` via `npm i galio-framework` inside one of your projects in order to use Galio as it should be used.

Thanks!

[2019-10-17 18:19] Gease-RS commented on #92
@palingheorghe Ok! Thanks!

[2019-10-21 16:36] BhuvaneshwaranR opened #143 "expo start --web - Not working"
**Describe the bug**
A clear and concise description of what the bug is.
Running galio web framework not working in web development mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Run **expo start --web**
2. See error

**Screenshots**
![Screenshot from 2019-10-21 19-40-26](https://user-images.githubusercontent.com/10132578/67223937-d5509d00-f44d-11e9-91c2-d643009b9ac5.jpg)

[2019-10-21 20:28] palingheorghe commented on #98
moved the conversation about Galio on web to #143 because this is version specific.

[2019-10-21 20:28] #98 closed

[2019-10-21 20:29] palingheorghe commented on #143
Hi! Galio was not yet tested on web with Expo. Thank you for opening this discussion. We should proceed and make the library available to Expo Web as well. Any thought on how we should do that?

[2019-10-21 22:47] llcamp opened #144 "DeckSwiper defaulting to top Flexbox position"
**Describe the bug**
When a class is created utilizing the DeckSwiper component, exported and added in another component that handles the view, if said component is styled with Flexbox, it will create an issue where all of the other elements/components added below will default to the top of the view.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a DeckSwiper component.
2. Export the

[2019-10-22 17:38] palingheorghe commented on #144
Hi @llcamp ! Have you tried encapsulating the `<LugarSwiper />` in another `<Block />` component? this should be done in the `topFive` class. As far as I can see the `<Button />` component was suppose to come after the Swiper but the Swiper isn't rendering for some reason.

[2019-10-24 05:52] llcamp commented on #144
Hello! In this particular case <LugarSwiper/> is the component that renders the Swiper, I just implemented it in a different class so it can be less cluttered. Let me know if that answers your question and if you need any more info. Glad to help!

[2019-10-24 22:52] palingheorghe commented on #144
Is the component populated as written in the docs? (with the proper array of elements)
Just try something like this to see if this solves the layout issue:
[code]
import the `Block` component from `galio-framework`

[2019-10-25 12:25] agungribowo commented on #31
Hacktoberfest 2019, not open again ?

[2019-10-27 16:12] initzx commented on #74
Hello, is there an example of how to get galio working with focus(). It doesn't seem to work for me, when i set onRef on the input i wish to focus on

[2019-10-28 01:38] sam1463 commented on #74
@initzx It should work to use it like this:

[code]

[2019-10-28 02:14] palingheorghe commented on #74
Thank you for explaining @sam1463 ! Just noticed the new Input misses that prop so it might not work. This needs to be updated asap so I'll reopen the issue.

[2019-10-28 02:15] palingheorghe commented on #31
Not this year but next year we'll do it again! We've moved the galio app to [galio-starter-kit](https://github.com/galio-org/galio-starter-kit) repo. See you there with a new set of screens!

[2019-10-28 02:15] #31 closed

[2019-10-28 03:56] sam1463 commented on #74
@palingheorghe oh yeah good catch! It looks like in this commit when that component was changed from a class component to a functional one, the `onRef` prop got removed, probably just a bad merge resolution since that prop had only just barely made it into the repo before that.
https://github.com/galio-org/galio/commit/e48774276d92e88e75a62df64378ec277df15a6d

[2019-10-28 17:42] palingheorghe commented on #74
You think you can push another PR for this issue? @sam1463

[2019-10-28 20:58] sam1463 commented on #74
Yep, fixed it locally last night but haven't had time to open a PR yet. I should be able to when I get home later today.

[2019-10-28 21:10] palingheorghe commented on #74
Thank you for your help! Looking forward to the PR!

[2019-11-19 14:15] palingheorghe commented on #136
Closed the issue due to the fact that it's old and inactive.

[2019-11-19 14:15] #136 closed

[2019-11-19 14:28] palingheorghe commented on #102
Moved the galio-app to another repo called [galio-starter-kit](https://github.com/galio-org/galio-starter-kit). So all the issues regarding the app need to move there as well. Thank you! 🧜🏽‍♂️

[2019-11-19 14:28] #102 closed

[2019-11-19 14:28] palingheorghe commented on #90
Moved the galio-app to another repo called [galio-starter-kit](https://github.com/galio-org/galio-starter-kit). So all the issues regarding the app need to move there as well. Thank you! 🧜🏽‍♂️

[2019-11-19 14:28] #90 closed

[2019-11-19 14:30] palingheorghe commented on #58
As @shubhamkakkar couldn't finish this component, I made the issue available again. 🧜🏽‍♂️

[2019-11-19 14:30] palingheorghe commented on #61
Moved the galio-app to another repo called [galio-starter-kit](https://github.com/galio-org/galio-starter-kit). So all the issues regarding the app need to move there as well. Thank you! 🧜🏽‍♂️

[2019-11-19 14:30] #61 closed

[2019-11-19 21:18] BechirAhmed opened #146 "Center the Navbar title"
Is it possible to make the navbar title display on the center?
I've tried titleStyle:{alignSelf:'center} but nothing change, the title is always on the left side

[2019-11-20 01:36] kalyantm commented on #58
@palingheorghe I could pick it up, though I will have to start from scratch.
Will look at the designs and get cracking!

[2019-11-20 08:14] palingheorghe commented on #146
Please post up a snippet of your code so I could help you out with valuable information. 🧜🏽‍♂️

[2019-11-20 08:15] palingheorghe commented on #58
@kalyantm nice! thank you for this, looking forward to your PR.

[2019-11-20 15:50] kalyantm commented on #58
@palingheorghe  hey sorry, my bad thought this was a react component library. Just went through the repo to realise it was react native. Don't have enough expertise to contribute yet, will check again in a few weeks.

[2019-11-21 11:59] BechirAhmed commented on #146
Thanks i solved it

[2019-11-21 11:59] #146 closed

[2019-11-21 12:37] BechirAhmed opened #147 "navbar back icon very small (almost not visible)"
I have a problem with the navbar back icon, it's very small, and i couldn't change it.
![fullsizeoutput_66](https://user-images.githubusercontent.com/18298101/69338510-4658bf80-0c5b-11ea-9118-3478f7ac4373.jpeg)
![fullsizeoutput_64](https://user-images.githubusercontent.com/18298101/69338511-46f15600-0c5b-11ea-9baa-a7254ec9a759.jpeg)

there is the difference between left icon generally and back ico

[2019-11-22 08:39] palingheorghe commented on #147
Hi @BechirAhmed ! Try to remove the back prop. Because of a bug with the `<NavBar />` component you'd have to only specify the `left` prop. We will solve this as soon as possible.

[2019-11-23 05:00] damechen opened #148 "Any table component?"
I didn't see table listed as a component. Does galio have table support where I can have a list of items in a table? Thanks!

[2019-11-29 10:14] DzmitryUr commented on #143
I added `web` setting inside `expo` in `app.json` file so:
[code]
That fixed the issue for me.

[2019-12-02 09:49] palingheorghe commented on #148
Galio doesn't have a table component at the moment. Could you provide some design files or pictures regarding how a table would fit a mobile environment?

[2019-12-08 15:01] mamkkl opened #149 "textAlignVertical is not working in Input"
**Describe the bug**
I want to make a multiple-line text input with placeholder at the top of the input area. However, `textAlignVertical` is not able to use since styles of the `TextInput` can't be override

**To Reproduce**
<Input multiline style={{textAlignVertical:'top', height: 200}} />

**Expected behavior**
The placeholder displays at the top of the input area
![image](https://user-images.g

[2019-12-10 12:20] palingheorghe commented on #149
Hi @mamkkl ! Yes you're right, this should pe fixed. There is a prop for overriding the container's style called `inputViewStyle` so the new prop name should be something similar.

[2019-12-11 02:37] ammar-sheikh commented on #74
hey @sam1463
kindly can you push the PR!

[2019-12-11 04:00] sam1463 commented on #74
I already created one. For me, it's linked right above your comment, but in case that's not visible to you for some reason, it's here: https://github.com/galio-org/galio/pull/145

[2019-12-11 15:06] mamkkl commented on #149
I can help on this, need a hand :)?

[2019-12-11 16:26] mamkkl commented on #149
I found that we can use styles.* for the style overriding but in `withGalio` the `styles` in `props` were not actually being used. Merging the `styles` in `props` into `styles` which will be passed to the component can fix the issue.

`styles={{...(styles ? styles({ ...GalioTheme, ...theme }) : {}), ...props.styles}}`

[2019-12-11 16:38] mamkkl commented on #149
add array check can make the styles input even nicer
`styles={{...(styles ? styles({ ...GalioTheme, ...theme }) : {}), ...(Array.isArray(props.styles) ? props.styles.reduce((a,c) => ({...a, ...c})) : props.styles)}}`

[2019-12-12 09:01] palingheorghe commented on #74
Hi @ammar-sheikh ! I'll push the PR to the master server as soon as possible, I'm just trying to collect more PRs because some developers already invested into a workaround for lots of bugs we had so any new version could break their apps.

[2019-12-18 11:32] wiloke1 opened #150 "@types support typescript"
I want to have suggestions and catch errors with typescript when I use galio component.
So you can create a file `xxx.d.ts` or `npm install @types/galio-framework -D`
Thank you for giving us a great library

[2019-12-18 17:14] #150 closed

[2019-12-19 15:07] palingheorghe commented on #149
You could always give us a hand! Write a PR for this issue with detailed explanation because I think this could really level up our library.

Thanks!

[2020-01-01 22:33] Cassianosch opened #152 "Unable to use Galio"
**Describe the bug**
Import with yarn and try to use a Text element.

**Screenshots**
![image](https://user-images.githubusercontent.com/28737079/71646943-76b96200-2ccd-11ea-8d5a-35b5ab846f3b.png)

**Smartphone (please complete the following information):**
 - Device: samsung s7
 - Type of device: simulator
 - OS: android 7.1
 - React-Native version: 0.46.4
 - Expo version: not using.

[2020-01-02 21:40] ntk860 opened #153 "NavBar title is not accepting node only string"
The documentation is saying that we can put nodes on the title to be at the center of the navbar but it is not working, only working with string

[2020-01-03 06:10] #153 closed

[2020-01-06 09:44] palingheorghe commented on #152
Hi @Cassianosch ! Could you please provide more information about your issue? As far as I can see you're using wamp and the server is responding with a 500 code because it can't resolve 'galio.tff'. I'd recommend deleted `node_modules`, `package-lock.json`, and `.expo`. Then reinstall writing `npm install` in your terminal.

Alin 🤙🏽

[2020-01-06 14:38] palingheorghe commented on #144
closed the issue for inactivity

[2020-01-06 14:38] #144 closed

[2020-01-07 12:52] AndyOsei commented on #58
@palingheorghe i’d like to take this on and work on it...

[2020-01-07 14:01] palingheorghe commented on #58
Yes, push your PR whenever you can

[2020-01-08 17:17] levelingup opened #154 "Documentation on Switch component"
I noticed that if I just copy the code in: https://galio.io/docs/#/components/switch
[code]

It throws an error saying that onChange is undefined. I think it would be a good to provide documentation that you would need onChange along with onValueChange. Unless I was implementing it wrong?

I was able to get my switch to work after adding onChange prop.

[2020-01-09 09:32] AndyOsei commented on #58
@palingheorghe is each option in the segment supposed to have a panel that slides into view when that option is active or does the component only consists of segmented options without corresponding panels...??

[2020-01-09 09:55] palingheorghe commented on #58
@AndyOsei it should have a panel that slides into view but that panel should be highly configurable (not too many dependencies, maybe the user could actually use a panel created by them and then insert it into the component)

[2020-01-09 14:59] gamingumar commented on #74
When the merge is expected?

[2020-01-09 15:07] palingheorghe commented on #154
@levelingup have you tried using only onChange?

You're right, the example in our docs is not working correctly. We'd have to change that. This issue should be moved on our docs repo here: https://github.com/galio-org/docs

Thanks!

[2020-01-09 15:08] palingheorghe commented on #74
@gamingumar next week we'll clean the repo so we'll merge this PR as well because we're getting ready for v1.0.

[2020-01-10 11:19] groovemen opened #155 "Docs: Theme Readme"
Theme COLORS & SIZES

[2020-01-10 16:41] levelingup commented on #154
Yeah doing just onChange works, but it doesn't capture the value which I believe onValueChange is needed to do so, correct?

I'm still learning react native hehe.

[2020-01-13 08:59] palingheorghe commented on #154
We'll have to re-work this component for v1.0. Thank you for noticing that out! You're on the right path my friend!

[2020-01-13 09:10] palingheorghe opened #156 "Components/Molecule/Input"
Components/Molecule/Input

[2020-01-13 09:10] palingheorghe opened #157 "Components/Molecule/Link"
Components/Molecule/Link

[2020-01-13 09:10] palingheorghe opened #158 "Components/Molecule/Button"
Components/Molecule/Button

[2020-01-13 09:10] palingheorghe opened #159 "Components/Atom/Icon"
Components/Atom/Icon

[2020-01-13 09:10] palingheorghe opened #160 "Components/Atom/Text"
Components/Atom/Text

[2020-01-13 15:46] #159 closed

[2020-01-13 15:46] #155 closed

[2020-01-14 09:15] #160 closed

[2020-01-14 13:36] groovemen opened #166 "Components/Templates/Login"

[2020-01-17 15:44] #156 closed

[2020-01-17 15:44] #158 closed

[2020-01-17 15:44] #157 closed

[2020-01-17 15:45] #166 closed

[2020-01-21 15:19] palingheorghe opened #172 "Galio v1.0"
## Introduction
Hi everybody! Galio is moving towards v1.0 with what I’d like to think of as the best design system in the game. The new version will include our own way of designing screens and components. Respecting the design guidelines for your apps would mean clean, good looking screens.

For this Galio needs your help as much as I do 🤣. There’s multiple issues available below for you to pick

[2020-01-21 15:19] palingheorghe opened #173 "Components/Accordion"
Related to #172

**Read this:** [Working on a PR](https://github.com/galio-org/galio/wiki/Working-on-a-PR) | [CONTRIBUTING](https://github.com/galio-org/galio/blob/master/CONTRIBUTING.md) | [Galio's docs](https://galio.io/docs/)

Do you want to **help**? Just comment if you wish to work on:
- [ ] Accordion

🤙🏽

[2020-01-21 15:20] palingheorghe opened #174 "Components/Checkbox"
Related to #172

**Read this:** [Working on a PR](https://github.com/galio-org/galio/wiki/Working-on-a-PR) | [CONTRIBUTING](https://github.com/galio-org/galio/blob/master/CONTRIBUTING.md) | [Galio's docs](https://galio.io/docs/)

Do you want to **help**? Just comment if you wish to work on:
- [ ] Checkbox

🤙🏽

[2020-01-21 15:21] palingheorghe opened #175 "Components/Radio"
Related to #172

**Read this:** [Working on a PR](https://github.com/galio-org/galio/wiki/Working-on-a-PR) | [CONTRIBUTING](https://github.com/galio-org/galio/blob/master/CONTRIBUTING.md) | [Galio's docs](https://galio.io/docs/)

Do you want to **help**? Just comment if you wish to work on:
- [ ] Radio

🤙🏽

[2020-01-21 15:21] palingheorghe opened #176 "Components/Slider"
Related to #172

**Read this:** [Working on a PR](https://github.com/galio-org/galio/wiki/Working-on-a-PR) | [CONTRIBUTING](https://github.com/galio-org/galio/blob/master/CONTRIBUTING.md) | [Galio's docs](https://galio.io/docs/)

Do you want to **help**? Just comment if you wish to work on:
- [ ] Slider

🤙🏽

[2020-01-21 15:22] palingheorghe opened #177 "Components/Avatar"
Related to #172

**Read this:** [Working on a PR](https://github.com/galio-org/galio/wiki/Working-on-a-PR) | [CONTRIBUTING](https://github.com/galio-org/galio/blob/master/CONTRIBUTING.md) | [Galio's docs](https://galio.io/docs/)

Do you want to **help**? Just comment if you wish to work on:
- [ ] Avatar

🤙🏽

[2020-01-21 15:23] palingheorghe opened #178 "Components/Badges"
Related to #172

**Read this:** [Working on a PR](https://github.com/galio-org/galio/wiki/Working-on-a-PR) | [CONTRIBUTING](https://github.com/galio-org/galio/blob/master/CONTRIBUTING.md) | [Galio's docs](https://galio.io/docs/)

Do you want to **help**? Just comment if you wish to work on:
- [ ] Badges

🤙🏽

[2020-01-21 15:25] palingheorghe opened #179 "Components/Feed Card"
Related to #172

**Read this:** [Working on a PR](https://github.com/galio-org/galio/wiki/Working-on-a-PR) | [CONTRIBUTING](https://github.com/galio-org/galio/blob/master/CONTRIBUTING.md) | [Galio's docs](https://galio.io/docs/)

Do you want to **help**? Just comment if you wish to work on:
- [ ] Feed Card

🤙🏽

[2020-01-21 15:25] palingheorghe opened #180 "Components/Simple Card"
Related to #172

**Read this:** [Working on a PR](https://github.com/galio-org/galio/wiki/Working-on-a-PR) | [CONTRIBUTING](https://github.com/galio-org/galio/blob/master/CONTRIBUTING.md) | [Galio's docs](https://galio.io/docs/)

Do you want to **help**? Just comment if you wish to work on:
- [ ] Simple Card

🤙🏽

[2020-01-30 12:13] blackgeneration opened #182 "DeckSwiper component not working"
**Describe the bug**
DeckSwiper not working. onSwipeLeft and onSwipeRight not working. Componenets are not swipable.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://galio.io/docs/#/components/deckswiper
2. Follow the examples there
3. Execute
4. See bug

**Expected behavior**
this component is built to accept any type of component and make it swipeable.

**Screenshots**
https:/

[2020-01-30 12:53] palingheorghe commented on #182
Hi @blackgeneration ! I've tried the example from galio's docs website in a new Expo project and had no issues with the DeckSwiper component. Could you please share some more information about your code?

[2020-02-02 01:01] blackgeneration commented on #182
Hie @palingheorghe . Let me redo the example from scratch then i will come back to you

[2020-02-21 22:55] nastarfan commented on #133
@palingheorghe any update on this? I'm experiencing this issue as well

[2020-02-22 00:23] AndyOsei opened #185 "withGalio() does not forward refs to wrapped components"
**Describe the bug**
Ref for a component passed to the withGalio higher-order component does not get forwarded to the wrapped component but rather references the outermost container component.

**To Reproduce**
Steps to reproduce the behavior:
[code]
It throws an error
```inputRef.current.clear is not a function. (In 'inputRef.current.clear()', inputRef.current.clear is undefined)```

**Expected b

[2020-02-24 22:22] AndyOsei commented on #177
@palingheorghe I will like to work on this....

[2020-02-27 16:12] felipebergamin opened #187 "Error on Galio files when run tests with jest"
**Describe the bug**
Got an error when galio is imported by tested file. I'm not sure if it's a problem with Galio or Jest.
Jest was configured like expo docs suggests.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. A published a minimal project that reproduces the error
2. Clone https://github.com/felipebergamin/reproduce-galio-test-error
3. Install deps with `yarn`
4. Run test wit

[2020-02-28 01:05] tanmoyopenroot commented on #172
Hi @palingheorghe ,
Are they still up for grabs? If so I would like to work on it.

[2020-03-03 00:49] palingheorghe commented on #172
Hi @tanmoyopenroot ! Yes, please, go ahead and pick whatever you want. Just please let me know what you're working on.

[2020-03-03 00:54] palingheorghe commented on #187
Hi @felipebergamin ! Thanks for opening up this issue. I'll have to take a look at this, right now I'm not sure where exactly is the problem and why is this error showing up.

[2020-03-03 01:05] palingheorghe commented on #177
Great! This one is yours! @AndyOsei

[2020-03-03 01:08] palingheorghe commented on #133
Hi @nastarfan ! We haven't yet modified this component but this will be surely done when we're realeasing v1.0

[2020-03-03 01:10] tanmoyopenroot commented on #172
Sure

[2020-03-03 22:37] tksilicon opened #188 "Input TextAlign not Working"
This React Native App uses Galio Framework { Input, Block } from 'galio-framework';
I set the value of text by passing the text captured in another component, a Webview.

See this stackoverflow question.

https://stackoverflow.com/questions/60515519/align-input-text-to-begin-from-the-left-like-placeholder-text

[2020-03-05 00:16] palingheorghe commented on #185
i'll have to look into this, if someone has any idea how to solve this faster please do help out

[2020-03-05 04:48] EAfang opened #189 "Cannot focus cursor on Top-most Input when using 3 or more Input conponents (mouse clicking on IOS simulator)"
I cannot focus cursor on Top-most Input when using 3 or more Input components (mouse clicking on IOS simulator)

`                              <Input placeholder='First Name'
                                       style={styles.nameInput}
                                       placeholderTextColor={'#646e9f'}
                                       fontSize={20}

[2020-03-05 05:21] EAfang commented on #189
Solved the problem.

In your style properties, avoid using {top: xxx} instead use {marginTop: xxx} to move the inputs.

[2020-03-05 05:21] #189 closed

[2020-03-05 07:10] EAfang opened #190 "Error: Unexpected token on Toast static propTypes"
Getting error on Toast static propTypes

`
/node_modules/galio-framework/src/Toast.js 11:19
Module parse failed: Unexpected token (11:19)
You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file. See https://webpack.js.org/concepts#loaders
|
| class Toast extends Component {

|     children: PropTypes.node.isRequired,
|     isShow: PropT

[2020-03-05 16:03] AndyOsei commented on #185
i will open a PR to fix it...

[2020-03-07 13:25] AndyOsei commented on #133
@palingheorghe will open a PR to fix this...

[2020-03-07 20:35] AndyOsei commented on #149
@palingheorghe I looked into this issue and realized that what is causing the placeholder to be centered is styles.inputContainer ```inputContainer: {
      flexDirection: 'row',
      alignItems: 'center',
      justifyContent: 'center',
    }```been applied to inputViewStyle. Hence overriding them by passing ```{
        justifyContent: "flex-start",
        alignItems: "flex-start"
      }``` s

[2020-03-09 10:22] robertqin86 opened #196 "Enhancement: Allow style customisations for label content and help content"
**Is your feature request related to a problem? Please describe.**
The help and label text styles are currently hardcoded and not customisable.

**Describe the solution you'd like**
Custom styles for the help and label text styles should be injected via props and override the default `styles.label` and `styles.helpText`.

[2020-03-09 10:23] robertqin86 commented on #196
Please review and consider PR: https://github.com/galio-org/galio/pull/197

[2020-03-11 03:32] shiroze commented on #74
I try using like this but give me null is not an object Package.json (v.0.6.3)

[2020-03-11 05:00] anandtechmedia opened #198 "Require Help On NavBar Header"
Hi All,

Greetings!

We have been trying to make the following changes to the NavBar. But couldn't achieve them yet.

1. Passing dynamic values through renderRight icons.
2. Change the header title dynamically.
3. Add OnPress event to the Header Title.
4. Add an icon dynamically before the header title.
5. The "Back" trigger should refresh the page.

Can anyone help us with this?

Thanking you,

B

[2020-03-11 18:38] AndyOsei commented on #198
@anandtechmedia, can you please provide a reproducible example of what you’ve tried so far in order to investigate and tell you why it ddn’t work or give you alternatives as to how to accomplish them...

[2020-03-11 23:30] anandtechmedia commented on #198
Hi Andy,

Thank you for your response.

This is my header component,

`import React from 'react';
import { withNavigation } from '@react-navigation/compat';
import { TouchableOpacity, StyleSheet, Platform, Dimensions } from 'react-native';
import { Button, Block, NavBar, Input, Text, theme } from 'galio-framework';

import Icon from './Icon';
import materialTheme from '../constants/Theme';

const

[2020-03-12 20:36] AndyOsei commented on #198
@anandtechmedia for point 1, 2 & 3, You can pass a custom component that does what you want to title prop like this `title={<Component  onPress={your onPress here} icon={your icon here} />}`

For point 4, pass false to the back prop and define  a custom button in the renderRight function to do what you want.

Do lemme know if you have any other questions, need further clarification or if the above

[2020-03-13 07:29] anandtechmedia commented on #198
Hi Andy,

Wow!! It works like charm!!

Thanks for your Great Support!!

Best Regards,
Saran

[2020-03-13 07:29] #198 closed

[2020-03-13 09:28] AndyOsei commented on #198
@anandtechmedia Glad I could help.

[2020-03-20 14:37] tilldomke commented on #190
Same Problem here. Can anyone help?

[2020-03-20 14:40] AndyOsei commented on #190
Kindly provide a reproducible example so I could look into it...

[2020-03-20 15:18] tilldomke commented on #190
The Error occurs when I try to run the app in any way via `expo start` after `npm install galio-framework`. It happens with a new, clean app and with my app already in development

[2020-03-21 09:23] AndyOsei commented on #190
I don't think this is an issue with Galio, it because of your babel loader config and/or webpack if you are using it. Try clearing your bundler cache and make sure your babel.config.js or web pack.config.js if any is using the appropriate config rules.

[2020-04-01 15:45] willroyMyles opened #201 "Change color of button text"
Would be great to be able to change the color of text inside a button

[2020-04-02 23:33] AndyOsei commented on #201
You can do so by passing a  style object to textStyle prop like

[code]

Do let me know if it solves your issue...

[2020-04-03 06:44] #201 closed

[2020-04-03 06:46] willroyMyles commented on #201
quick question, how did you guys achive the colored drop shadow effect on buttons?

[2020-04-03 12:36] AndyOsei commented on #201
Could you elaborate more on what you mean..??

[2020-04-10 00:57] syky27 commented on #190
I am facing the same issue when trying to build for web using expo

[2020-04-12 08:59] RichardTheHouse commented on #190
Same, fixed this by updating app.json and including the following in the expo section.
`
    "web": {
      "build": {
        "babel": {
          "include": ["galio-framework"]
        }
      }
    }
`

[2020-04-13 09:20] shivanshseth opened #202 "Radio: No way to change Radio button state."
**Is your feature request related to a problem? Please describe.**
While using radio buttons, I need to make sure that only one of them is active at a time. For this I need some prop to switch it on/off.
**Describe the solution you'd like**
A prop (can call is selected) to control its state.

**Describe alternatives you've considered**
react-native-material-ui component for RadioButton

**Addition

[2020-04-13 14:30] syky27 commented on #190
@RichardTheHouse Thanks, I figured that out, unfortunately I am getting error with almost all of my dependencies...

[2020-04-13 16:56] anisharya16 commented on #154
Changing from onValueChange to onChange gives another error:

`TypeError:_this2.toggleSwitch is not a function. (In '_this2.toggleSwitch("itemAvailable")', '_this2.toggleSwitch' is undefined)`

[2020-04-15 14:47] StheffanyHadlich commented on #202
The current radio button has an `initialValue` property that is used to control the radio button internal state with a `checked` value. Is it no behaving properly?

[2020-04-16 17:47] AndyOsei commented on #202
A fix for that and others will be released soon in a minor/patch version...

[2020-04-19 13:12] jizang58 opened #203 "Customizing Galio Theme card"
Hi,

I fell in love with the Galio framework it really has beautiful components. I only have one question I wanted to use the card component but it is too big with its default values for my app. So I tried to change the Card_Width in sizes.js and tried to change theme.js but both did not work for me. How can I do it I am pretty much new to React-Native and javascript. Hopefully someone can give me

[2020-04-19 14:57] AndyOsei commented on #203
@jizang58 You dont have to override the theme just for the CARD_WIDTH unless you want to define default sizes, colors you wanna reuse across your app..

To achieve your desired effect, you can remove the flex prop from the card and pass ‘’’style={{ width, height }}’’’ to override the width and height of the card...

[2020-04-23 11:55] abdulmalek-albakkar commented on #55
@palingheorghe  any update on this?

[2020-04-26 14:35] AndyOsei commented on #55
You can currently use Galio without Expo which i have done a couple of times in a few projects...
Just install react-native-vector-icons in your project so you can use the Icon component without any problems.

You can let me know if you face any issues doing so...

[2020-04-28 06:52] rascyber opened #204 "Installation on MAC OSX error"
EthicalHacker:galio-starter-kit CyberDevelopment$ sudo npm install galio-framework
Password:
npm WARN peerDependencies The peer dependency react@* included from galio-framework will no
npm WARN peerDependencies longer be automatically installed to fulfill the peerDependency
npm WARN peerDependencies in npm 3+. Your application will need to depend on it explicitly.
npm WARN peerDependencies The pee

[2020-05-01 07:34] C-Romeo opened #205 "typescrypt support"
Please add typescript support for functions definition

[2020-05-06 13:16] ErkinKurt opened #206 "Input Component Multiple Icons"
When I use Input component as searchbar, I would like to have multiple icons like 'X' icon for deleting and search icon. However input component only provides one icon as I know.

I would like to specify multiple icons as left and right.

[2020-05-07 20:20] lanman2000 commented on #143
Hmmm. I added that but i'm still getting the same error as before I did:
![image](https://user-images.githubusercontent.com/3240325/81340906-9945f800-907e-11ea-9922-e4983b166fe9.png)

[2020-05-10 21:34] matthew-biggins commented on #133
Having this problem as well. I see the PR fix. Looking forward to that. I'm just adding my workaround for anyone else experiencing this until the fix is implemented. This allows me to use the Checkbox without it calling onChange when first rendered.

`const [testing, setTesting] = useState(0)`

`function someFunction() {
    if (testing != 0) {
      // function logic
    }
    setTesting(1);
}`

[2020-05-16 01:30] palingheorghe commented on #204
Hi @rascyber ,

Thank you for this issue, we'll investigate further!
Alin

[2020-05-16 01:31] palingheorghe commented on #205
Hi @C-Romeo ! I totally agree, we need to add typescript support, the community can always help out with this <3

[2020-05-16 01:34] palingheorghe commented on #206
Hi @ErkinKurt ! You're right, this component should be more customizable. We'll have to do that after we're done with the version 1.

Thanks
Alin

[2020-05-28 02:04] Danielgb23 opened #207 "Can't change the color of a button on press"
I am trying to build a like button that changes color when you click it to mark the target as 'liked'. So I used this function called on the button:
function like_quote(_this) {
	_this.iconColor= theme.COLORS.THEME
	Alert.alert('Like!')
}

 <Button
              onlyIcon
              icon="heart"
	      key="like"
              iconFamily="font-awesome"
              iconSize={theme.SIZES.BASE}

[2020-05-29 23:49] palingheorghe commented on #207
Hi @Danielgb23
Thank you for this issue but this is not a problem with Galio. This has more to do with some basic principles of React and React-Native. `iconColor` is a prop of Button, and you can't access it via an external function. In order to change iconColor dynamically you'd have to say something like `iconColor={this.state.someVar}` and you should change the state via `this.setState();` fun

[2020-05-29 23:49] #207 closed

[2020-05-30 01:00] palingheorghe commented on #203
Will close the issue as Andy replied with a good advice.

[2020-05-30 01:00] #203 closed

[2020-05-30 01:07] palingheorghe commented on #196
Closed because we've merged this issue into `dev`

[2020-05-30 01:07] #196 closed

[2020-05-30 01:08] palingheorghe commented on #185
Closed because we've merged the PR into the `dev` branch. Thank you!

[2020-05-30 01:08] #185 closed

[2020-05-30 01:08] palingheorghe commented on #74
Closed because we've merged the PR into the `dev` branch. Thank you!

[2020-05-30 01:08] #74 closed

[2020-05-30 01:08] palingheorghe commented on #149
Closed because we've merged the PR into the `dev` branch. Thank you!

[2020-05-30 01:08] #149 closed

[2020-05-30 01:09] palingheorghe commented on #133
Closed because we've merged the PR into the `dev` branch. Thank you for all the help guys!

[2020-05-30 01:09] #133 closed

[2020-06-01 13:27] dileepgudivada commented on #110
Facing same issue how to resolve it

[2020-06-05 19:39] davStar opened #208 "Input multiline textverticalalign on top doesnt work"
**Describe the bug**
I ve encountered an issue concerning Input using multiline.
The multiline is well integrated however when I ve tried to align the text on top nothing happen.
![image](https://user-images.githubusercontent.com/26174579/83915572-d089f080-a773-11ea-8848-af96289005d1.png)

**To Reproduce**
Here bellow the code for Input integration:

`                <Input  multiline={true} place

[2020-06-05 20:26] AndyOsei commented on #208
@devStar, passing the justifyContent, alignItem style props should solve the problem...check the snippet below for usage...

[code]

[2020-06-05 20:26] #208 closed

[2020-06-06 02:05] palingheorghe commented on #147
Closed because we've merged the PR into the `dev` branch. Thank you!

[2020-06-06 02:05] #147 closed

[2020-06-14 22:36] palingheorghe commented on #101
fixed it and merged into `dev` branch

[2020-06-14 22:36] #101 closed

[2020-06-14 23:05] palingheorghe commented on #202
Stheffany is right, `initialValue` solves the issue. The thing that will surely benefit us would be a HoC for Radio and Checkboxes. Something like a RadioGroup/CheckGroup. I'm going to close this issue as this specific problem is not related to Galio anymore.

[2020-06-14 23:05] #202 closed

[2020-06-17 03:26] Danielgb23 opened #212 "Can't open local image on Card component"
I can't display an image either in the image or avatar slot of the Card component if it's local. Images from urls work fine but local ones don't.

**Smartphone (please complete the following information):**
 - Device: moto g(6)
 - Type of device:Physical
 - OS: android 9
 - React-Native version: 0.61.4
 - Expo version: 3.21.5

[2020-06-23 10:35] Ace000001 opened #213 "color options for showPass icon and help text for the input"
Galio is a great UI library, I love it so far! But there is a scenario in my app where i don't want to use the the default black color of showPass icon and help text in the input(I want these in white).
![image](https://user-images.githubusercontent.com/11032498/85393299-32b16680-b566-11ea-829e-732b593acf6e.png)

I have been looking for the props of input component in the documentation but i could

[2020-07-02 15:00] davidsierradz commented on #187
Hi, I have:

[code]
This fixes OP error. But now I'm getting this one:

[code]

[2020-07-06 13:18] william-levi opened #217 "Unable to resolve module `./Text`"
**Describe the bug**
A clear and concise description of what the bug is.
i guess Text was removed
**To Reproduce**
Steps to reproduce the behavior:
1. install galio-framework
2. run your app
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complete

[2020-07-07 00:38] AndyOsei commented on #217
@william-levi it has been fixed in the 0.7.1 release...kindly check it out...

[2020-07-07 00:39] #217 closed

[2020-07-17 05:02] quangtruongpham opened #220 "can not use some icon from react-native-vector-icons"
I can not use some special icons such as ios-checkmark-done-circle-outline, md-checkmark-done-circle-outline,... from Ionicons icon family.
react-native-vector-icons ver7.0.0 has been installed, and also import into my code.
I headed following erro:
`Warning: Failed prop type: Invalid prop `name` of value `ios-checkmark-done-circle-outline` supplied to `Icon`, expected one of ["ios-add","ios-add-c

[2020-08-01 10:48] EtainLove commented on #213
You can do like this:

[code]

[2020-08-01 12:30] Ace000001 commented on #213
@EtainLove  any solution for the icon color?

[2020-08-02 08:53] EtainLove commented on #213
It is easy. You need to set iconColor to white

Here is how I did:

[code]

[2020-08-03 05:21] Ace000001 commented on #213
awesome! it worked thanks.

[2020-08-03 05:22] #213 closed

[2020-08-14 04:06] ehdwns980416 opened #223 "Navbar with Image"
I want to put my app logo in the `<Navbar/>` without the title.
I tried to put in `left` prop, but it's not work. How can I put image in the `<Navbar/>`?

This is the code I tried.
[code]

[2020-08-14 04:24] ehdwns980416 commented on #223
I find the solution, and I want you to add `function` type on the `left` prop and `right` one.
Those are just `node` type, so I couldn't put function in them.

I can put `<Image/>` with below code, but I need function type to look my code better.
[code]
[NavBar - Documentation @ galio](https://galio.io/docs/#/components/navbar?id=props)
![image](https://user-images.githubusercontent.com/26425092/9

[2020-08-20 16:47] elChechu opened #224 "Error showing Toas Notification"
When i try to show toast notificatino with fade params or without (idefault values), I get a yellow warning saying: Animated: `useNativeDriver` was not specified. This is a required 'option and must be explicitly set to `true` or` false`

Steps to reproduce the behavior:
--------------------------------------------
import toast from galio
import { Toast } from 'galio-framework';

Create simple Toa

[2020-08-26 14:19] RommelTJ commented on #205
There is an existing Merge Request for this that was abandoned. https://github.com/galio-org/galio/pull/151
I'll finish it.

[2020-09-09 11:40] pbedrule opened #227 "Default button width"
Hi,
I installed the demo version of the app, and the buttons are exactly like in the example, full width:
![image](https://user-images.githubusercontent.com/28801090/92593360-aa5f7980-f2a9-11ea-82a6-283e629b0735.png)

I created a new project, and the buttons are smaller:
![image](https://user-images.githubusercontent.com/28801090/92593615-180ba580-f2aa-11ea-8934-cb515f367b59.png)

I took all confi

[2020-09-09 14:21] #227 closed

[2020-09-09 21:44] MileanCo opened #228 "When onChange function passed to Checkbox it stops working"
**Describe the bug**
When you pass the onChange function the checkbox stops changing state and stays either checked or unchecked.

If you remove onChange(), then it works but I cannot do anything based on if it was clicked or not. I think this.setState() is what is messing it up.

<Checkbox
            label="Apples"
            flexDirection="row"
            initialValue={true}
            onCha

[2020-09-09 23:27] phillx commented on #228
@MileanCo  I would say it's hard to guess what's wrong with your implementation, next time provide more info :)

But my hunch is that your code looks like this:

[code]

Which means after you tap the checkbox, you get an error:
[code]

This error means you forgot to bind components context to your function = the handling function doesn't have access to the component's `setState` method.

You have

[2020-09-15 14:07] Joshig99 opened #230 "NavBar:How to increase or decrease size of NavBar toggle icon"
<NavBar
          back={back}
          theme={theme}
          title={title}
          style={styles.navbar}
          transparent={transparent}
          right={this.renderRight()}
          rightStyle={{ alignItems: "center" }}
          leftStyle={{ paddingTop: 3, flex: 0.3 }}
          leftIconName={back ? null : "navicon"}
          // leftIconFamily="font-awesome"
          leftIconColor={w

[2020-09-16 05:47] Joshig99 opened #231 "unable to resolve module './atomic/atoms/Button'"
package.json
{
  "name": "aaa",
  "version": "1.0.0",
  "description": "aaa",
  "main": "node_modules/expo/AppEntry.js",
  "private": true,
  "scripts": {
    "start": "cross-env REACT_EDITOR=code expo start",
    "android": "cross-env REACT_EDITOR=code expo start --android",
    "ios": "cross-env REACT_EDITOR=code expo start --ios",
    "eject": "expo eject",
    "test": "node ./node_modules/jest

[2020-09-16 06:58] Joshig99 commented on #231
My issue solved by running
`expo r -c`

[2020-09-16 06:58] #231 closed

[2020-09-17 17:32] #230 closed

[2020-09-21 13:42] kelemenbalazs commented on #220
I have the same issue. Would be nice to resolve somehow. :)

[2020-09-26 02:34] cwing2019 opened #232 "galio-starter-kit App.js: Support for the experimental syntax 'jsx' isn't currently enabled"
**Describe the bug**
A clear and concise description of what the bug is.

expo r -c  and run web
shows：
 ｢wds｣: Project is running at http://0.0.0.0:19006/
i ｢wds｣: webpack output is served from /
i ｢wds｣: Content not from webpack is served from C:\Users\WIN\AppData\Roaming\npm\node_modules\expo-cli\node_modules\@expo\webpack-config\web-default
i ｢wds｣: 404s will fallback to /
 web  Failed to comp

[2020-09-26 03:15] cwing2019 commented on #232
xpo DevTools is running at http://localhost:19002
Opening DevTools in the browser... (press shift-d to disable)
Some of your project's dependencies are not compatible with currently installed expo package version:
 - react-native-svg - expected version range: 9.9.5 - actual version installed: ^9.12.0
Your project may not work correctly until you install the correct versions of the packages.
To ins

[2020-09-27 15:20] ozankonur commented on #212
did you find a solution ?

[2020-09-29 19:43] sinafbd commented on #136
have you find the solution?

[2020-09-30 21:23] relez opened #233 "Declaration file missing for 0.7.* version?"
Hey there, I am new using the galio framework, I just installed version 0.7.1 and I get this warning on my editor when I import any component:

[code]

[2020-10-04 20:58] SarjuHansaliya commented on #174
@palingheorghe I would like to work on this, if someone is not working on it already.

[2020-10-14 00:30] RommelTJ commented on #233
The galio framework doesn't support TypeScript at the moment. Related issue: https://github.com/galio-org/galio/issues/205.
I added a [pull request](https://github.com/galio-org/galio/pull/226) but nobody has reviewed it.

[2020-10-17 06:23] SkSumit commented on #180
Hi @palingheorghe , I'd like to work on this.

[2020-11-01 19:22] haveamission opened #234 "Using Galio on React Native Web"
**Describe the bug**
I am trying to run Galio Framework on React Native Web, and I am getting this error:

/PATH/galio-starter-kit/node_modules/galio-framework/src/Toast.js
Module not found: Can't resolve 'react-native-web/dist/exports/ViewPropTypes' in '/PATH/galio-starter-kit/node_modules/galio-framework/src'

This is even after following the instructions here:

https://github.com/necolas/react-

[2020-11-08 22:59] natalyayyad commented on #220
You may want to install the latest version of vector-icons.
There is no checkmark-done-circle-outline in Ionicons. However, there is checkmark-done-outline. Check Ionicons list [https://ionicons.com/](here).

[2020-11-10 22:48] natalyayyad opened #235 "Warning: Failed prop type: Invalid prop `disabled` of type `string` supplied to `Button`, expected `boolean`."
I'm trying to change the disabled prop of a galio button with a state variable. However I keep getting this warning. I even tried simple code sth like:
` <Button
                            disabled={true}
                            uppercase
                            color={Theme.COLORS.MAIN}
                            size="large"
                            style={styles.button}

I'm using

[2020-11-12 14:24] walosha commented on #220
This worked for me

`deleted the node_modules
package-lock.json
`

[2020-11-13 20:03] Danielgb23 commented on #212
Not really. I used other component

[2020-11-20 12:33] natalyayyad commented on #224
I'm facing same issue. Does editing Toast.js as suggested in #229 fix the issue?

[2020-11-30 12:56] zeedevio commented on #205
Guys .... It's very hard for me creating react-native applications  and not starting with typescript.... please please advice me with a way to create maybe temp declaration coz i can't use galio in my typescript app due to definition declaration

[2020-11-30 14:38] RommelTJ commented on #205
Hi @zeedevio. I added a sample TypeScript declaration file in my MR here: https://github.com/galio-org/galio/pull/226
It's been pending review since August 26, 2020. You could also just add `// @ts-ignore` to your imports or modify your `tsconfig.json`.

[2020-12-07 13:17] dhaveed commented on #172
Hello @palingheorghe, Just wondering if these are still available to work on... If so, I'd like to work on one or two of them * wink *

[2020-12-11 09:45] josezuazo opened #236 "Button: Unable to change loading icon color"
Current
`
if (loading) {
  content = <ActivityIndicator size={loadingSize} color={theme.COLORS.WHITE} />;
}
`
Expected
`
if (loading) {
  content = <ActivityIndicator size={loadingSize} color={iconColor || theme.COLORS.WHITE} />;
}
`

[2020-12-17 11:44] palingheorghe commented on #172
Hi @dhaveed ! Yes, go ahead and push your PR, I'll make sure to check them all once I get more free time. Thanks for your help!

[2021-01-04 15:25] toviszsolt commented on #92
![image](https://user-images.githubusercontent.com/18605518/103550587-6b34e400-4ea9-11eb-8d0d-9724f818f063.png)

[2021-01-21 04:22] niceit opened #237 "Text input with left & right Icon"
**Is your feature request related to a problem? Please describe.**
As I worked so far, Galio just supported one icon for a text input, but in real life in some moment I need both left & right Icon for a text input.

**Describe the solution you'd like**
Support both left & right icon for a text input.

[2021-01-24 19:57] ozankonur opened #238 "Unable to resolve module `./Button` from `node_modules\galio-framework\src\index.js`"
Hi,

I am getting these errors after I upgrade Galio to  "galio-framework": "^0.7.1";

error: Error: Unable to resolve module `./Button` from `node_modules\galio-framework\src\index.js`:

None of these files exist:
  * node_modules\galio-framework\src\Button(.native|.android.js|.native.js|.js|.android.json|.native.json|.json|.android.ts|.native.ts|.ts|.android.tsx|.native.tsx|.tsx)
  * node_module

[2021-01-28 11:45] iswanj commented on #187
@davidsierradz Did you manage to solve this issue on testing?

[2021-01-28 15:25] davidsierradz commented on #187
@iswanj No, sorry.

[2021-02-01 14:36] amunrarara commented on #117
Bump this!

[2021-02-05 20:31] benedsmith commented on #212
Had this issue also, using Expo Go iOS. Web URLs work but local files simply show as blank. No exception thrown from what I can see

[2021-02-18 22:13] juansebastian2426 commented on #187
I have the equal @davidsierradz  problem too

[2021-02-28 03:47] Thremulant commented on #187
Having the same problem. @davidsierradz did you find a solution?

[2021-03-06 04:47] Thremulant commented on #187
I modified my jest configuration to add this:
`    "moduleNameMapper": {
 +     "galio": "identity-obj-proxy"
    }`

And installed the identity-obj-proxy package `npm i identity-obj-proxy` and it solved the font problem.
It seems that the problem  was that the font was not recognized, because it doesn't know the extension.

Here's where I find the solution [link](https://www.gitmemory.com/issue/f

[2021-04-07 09:06] BoGnY commented on #190
same problem after installing galio-framework on existing app

[2021-04-14 19:18] gartennoel commented on #187
@felipebergamin the problem is that Jest needs some modules compiled before it runs the tests and is unable to do this without you telling it which ones to "pre-compile". [This posting](https://stackoverflow.com/questions/55794280/jest-fails-with-unexpected-token-on-import-statement) has details. In short, I had to keep doing an `npm run test` and every time look to a line that looks like this:
[c

[2021-06-03 11:45] aayush123 opened #242 "IconFamilyType do not reflect accepted values defined in getIconType helper"
**Describe the bug**
`IconFamilyType` forces Icon's `family` type to accept values such as `'EvilIcons'`, `'FontAwesome'` etc, however, getIconType helper accepts values such as `'evilicons'`, `''font-awesome` etc, due to which, default case, ie. `MaterialIcon` is returned always.

**To Reproduce**
Steps to reproduce the behaviour:
1. Import Icon
2. Pass family as `FontAwesome` (as expected by TS

[2021-06-22 06:26] dheerajvora commented on #37
TS2532: Object is possibly 'undefined'.

theme.COLORS.FACEBOOK,

[2021-08-11 13:59] joharputr commented on #238
same problem with me.
any solution?

[2021-08-17 18:23] sojharo commented on #212
Has anybody solved it? I am having the same issue on android as well.

[2021-08-22 17:33] sajiff opened #245 "Warning: Failed prop type: Invalid prop `onRef` of type `object` supplied to `Input`, expected `function`."
I am trying to pass on ref of an input so that i can go to one input to another through the keyboard next button. but whenever i am passing the ref with onRef i get this warning.
I am providing screenshots of both the error and the code that is causing it

![Capture1](https://user-images.githubusercontent.com/53053605/130364417-e48b556d-2e6b-4b72-87c2-ec4ae73e21a1.JPG)

![Capture](https://user-ima

[2021-10-20 13:23] zenghnn opened #248 "Toast can not showing"
I'm init a test app whith expo-cli. Install galio-framework
And put one of Toast in screens.But not show anything.
Is my code wrong?
this is my code in App.js

import { StatusBar } from 'expo-status-bar';
import React from 'react';
import { StyleSheet, Text, View,Button } from 'react-native';
import {Toast,Block} from 'galio-framework';

export default function App() {
  let isShow= true;
  const

[2021-10-20 13:25] zenghnn commented on #224
after update to v0.8.0, this problem is still there

[2021-10-21 17:11] ankitjaishwal opened #249 "node_modules\galio-framework\src\fonts\galio.ttf: Cannot read property 'length' of undefined"
**Describe the bug**
I installed galio framework but whenever I run the react-native app, it is showing "node_modules\galio-framework\src\fonts\galio.ttf: Cannot read property 'length' of undefined"

**Screenshots**

![image](https://user-images.githubusercontent.com/60536937/138325154-21a70fbf-997d-4754-9c0e-4fd032824636.png)

**Smartphone (please complete the following information):**
 - Device:

[2021-10-21 17:19] #249 closed

[2022-01-23 16:55] ismailfarooq commented on #190
Any Updates on this issue?

[2022-03-29 04:30] iphearum commented on #248
Try this

[code]

[2022-04-05 19:15] viralpatel79 commented on #245
in `"src" -> "atomic" -> "atoms" -> Input.js`  file    on line 163   replacing `onRef: PropTypes.func,`   with `onRef: PropTypes.any,` fixes the issue.  onRef field should be a value not a function.

It would be nice if someone can make this change and fix this warning.

[2022-04-11 18:44] blujedis opened #254 "Convert to Native Typescript"
**Is your feature request related to a problem? Please describe.**

Converted the project to native Typescript. Have some needs that require this. Going to work through and test all the components in the next couple days. Types were kept as close to those originally declared. Added some missing types, a few could be a little better which I'll improve. The [withGalio](https://github.com/blujedis/ga

[2022-10-12 14:53] timbabs1 commented on #245
Yes correct the proptype for onRef should object or any

[2022-10-21 22:09] RommelTJ opened #255 "Question: Does this project accept Hacktoberfest contributions?"
Would the maintainers of this repo consider tagging it with the `hacktoberfest` label so it can accept Hacktoberfest contributions? More details: https://hacktoberfest.com/participation/#maintainers

[2022-10-24 15:10] #255 closed

[2022-10-24 17:49] fsobh commented on #248
Still not working :
`				<Block style={styles.bl}>
					<Toast isShow={true} positionIndicator="bottom" color="success">
						Load Toast
					</Toast>
				</Block>`

[2022-11-11 23:59] mohalenezi commented on #212
Same issue here and the Only way worked with me was to right click on the image file and click copy path.. paste it as the image source.. then finally its shown but i dont know if this is going to function after the deployment or not… good luck!